@model MyNaati.Ui.ViewModels.PDListing.WizardModel
<div class="row">
    <div class="col-sm-8">
        <h3 class="text-primary">Credentials</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="bg-primary">
                    <tr>
                        <th>Skill</th>
                        <th>Level</th>
                        <th>Direction</th>
                        <th>Expiry</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Credentials != null)
                    {
                        foreach (var credential in Model.Credentials.Where(c => c.InDirectory))
                        {
                            <tr>
                                <td>@credential.Skill</td>
                                <td>@credential.Level</td>
                                <td>@credential.Direction</td>
                                <td>@{ var expiry = credential.Expiry.HasValue ? credential.Expiry.Value.ToString("d/MM/yyyy") : string.Empty; }
                                    @expiry</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
