@model MyNaati.Ui.ViewModels.PDListing.WizardModel
@{
    ViewBag.Subtitle = "Declaration";
    Layout = "~/Views/Shared/MasterPages/_PDListingWizardLayout.cshtml";
    ViewBag.BreadCrumb = new List<Tuple<string, string>>
    {
        new Tuple<string, string>("Directory Listing", string.Empty)
    };
}
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var $nextButton = $(nextButtons);
            var $checkbox = $('#DeclarationModel_UserAgrees');

            $(cancelButtons).show();
            $(previousButtons).show();
            $nextButton.show();

            if (!$checkbox.prop('checked')) {
                $nextButton.prop('disabled', true);
            }

            $checkbox.change(function () {
                var checked = $checkbox.prop('checked');
                $nextButton.prop('disabled', !checked);
                $checkbox.val(checked);
            });
        });
    </script>
}
@{ Html.RenderPartial("_PDDeclarationPartial", Model); }
<div class="row">
    <div class="col-lg-12">
        <div class="checkbox">
            <label>
                <input id="DeclarationModel_UserAgrees" name="DeclarationModel.UserAgrees" type="checkbox" value="@Model.DeclarationModel.UserAgrees.ToString().ToLower()" />
                @Html.LabelFor(x => x.DeclarationModel.UserAgrees)
            </label>
        </div>
    </div>
</div>
