@model MyNaati.Ui.ViewModels.PDListing.WizardModel
@{
    ViewBag.Subtitle = "Payment Unsuccessful";
    Layout = "~/Views/Shared/MasterPages/_PDListingWizardLayout.cshtml";
    ViewBag.BreadCrumb = new List<Tuple<string, string>>
    {
        new Tuple<string, string>("Directory Listing", string.Empty)
    };
}
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(cancelButtons).show();
            $(previousButtons).show();
            $(downloadFormButtons).show();
        });
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <p>
            We were unable to process your payment.<br />
            Your listing has not been finalised.<br />
            Select the Previous option below to return to your listing, make changes and try again.<br />
            You can also download a form with your listing details and complete it manually.
        </p>
    </div>
</div>
