BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblJobExaminer ADD
	Feedback nvarchar(2000) NULL
GO
ALTER TABLE dbo.tblJobExaminer SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblTestResult
	DROP COLUMN Feedback
GO
ALTER TABLE dbo.tblTestResult SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
