<div>
    <div class="wrapper-sm m-l-n m-r-n m-b-n-sm m-t-n-sm">
        <div class="row m-t-none m-b-none">
            <div class="col-lg-4">
                <strong data-bind="reshtml: 'Naati.Resources.Payroll.resources.Code'"></strong>
            </div>
            <div class="col-lg-2">
                <strong data-bind="reshtml: 'Naati.Resources.Payroll.resources.GLCode'"></strong>
            </div>
            <div class="col-lg-2">
                <strong data-bind="reshtml: 'Naati.Resources.Finance.resources.Quantity'"></strong>
            </div>
            <div class="col-lg-2">
                <strong data-bind="reshtml: 'Naati.Resources.Payroll.resources.UnitCost'"></strong>
            </div>
            <div class="col-lg-2">
                <strong data-bind="reshtml: 'Naati.Resources.Payroll.resources.TotalCost'"></strong>
            </div>
        </div>
    </div>
</div>
<div class="streamline b-l b-info m-b">
    <!--ko foreach: { data: items, as: 'item' }-->
    <!--ko collapser: item.expanded-->
    <div class="bg-info wrapper-sm m-l-n m-r-n m-b r r-2x cursor-pointer" data-bind="collapserHeader">
        <div class="row m-t-none m-b-none">
            <div class="col-lg-4">
                <i class="fa" data-bind="css: { 'fa-open': !$expanded(), 'fa-close': $expanded }"></i>
                <span data-bind="text: item.SpecificationCode"></span>
            </div>
            <div class="col-lg-2">
                <span data-bind="text: item.GlCode"></span>
            </div>
            <div class="col-lg-2">
                <span data-bind="text: item.Quantity"></span>
            </div>
            <div class="col-lg-2">
                <span data-bind="textCurrency: item.UnitCost"></span>
                <span data-bind="restext: 'Naati.Resources.MaterialRequest.resources.PerHour'"></span>
            </div>
            <div class="col-lg-2">
                <span data-bind="html: $root.cost(item)"></span>
            </div>
        </div>
    </div>
    <div data-bind="collapserContent">
        <div class="m-l-sm m-t-n-sm m-b-sm">
            <!--ko compose: groupingCompose -->
            <!--/ko-->
        </div>
    </div>
    <!--/ko-->
    <!--/ko-->
</div>
