/*
   Thursday, 7 July 20222:35:20 PM
   User: 
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblEmailTemplate SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblEmailMessage ADD
	EmailTemplateId int NULL
GO
ALTER TABLE dbo.tblEmailMessage ADD CONSTRAINT
	FK_tblEmailMessage_tblEmailTemplate FOREIGN KEY
	(
	EmailTemplateId
	) REFERENCES dbo.tblEmailTemplate
	(
	EmailTemplateId
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.tblEmailMessage SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
