@model MyNaati.Ui.Controllers.RaiseAndPayInvoiceRequest
@{
    Layout = "~/Views/Shared/MasterPages/_KnockoutLayout.cshtml";
    ViewBag.ShowLogon = true;
    ViewBag.ShowMenu = true;
    ViewBag.RedirectLogoUrl = System.Configuration.ConfigurationManager.AppSettings["ExternalUrl_NAATI_URL"];
    ViewBag.Title = "Make Payment";
    ViewBag.ShowBreadCrumb = false;

}
@section Head {
    @Styles.Render("~/Bundles/Styles")
    <script type="text/javascript">
        window.CredentialApplicationId = "@Model.CredentialApplicationId";
    </script>
}

@section Scripts
{
    <script src="@ViewBag.PayPalClientId"></script>
}

<div id="applicationHost" data-app-root="views/unraised-invoice/raise-and-pay-invoice"></div>