


trigger:
- master   # or your default branch

variables:
  buildConfiguration: 'Release'
  # Set those variables in your pipeline library or as pipeline variables, or replace them here:
  acrName: 'naatidevacri0q0'               # e.g., naatidevacri0q0
  acrLoginServer: 'naatidevacri0q0.azurecr.io' # e.g., naatidevacri0q0.azurecr.io
  containerTag: '$(Build.BuildNumber)'      # Automatically uses Azure build number
  helmChartPathMyNaati: 'NAATI-k8smanifest/mynaati/mynaati'    # Path to MyNaati Helm chart
  helmChartPathNcms: 'NAATI-k8smanifest/ncms/ncms'             # Path to NCMS Helm chart
  helmChartPathInfra: 'NAATI-k8smanifest/naati-infra/naati-infra' # Path to Infrastructure Helm chart
  imageNcms: 'ncmsui'
  imageMyNaati: 'mynaatiui'

pool:
  name: 'Naatipool'    # Your agent pool

steps:
- checkout: self

- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '**/*.sln'

# - task: VSBuild@1
#   displayName: 'Build Ncms.Ui'
#   inputs:
#     solution: 'Ncms.Ui/Ncms.Ui.csproj'
#     configuration: '$(buildConfiguration)'

# - task: VSBuild@1
#   displayName: 'Build MyNaati.Ui'
#   inputs:
#     solution: 'MyNaati.Ui/MyNaati.Ui.csproj'
#     configuration: '$(buildConfiguration)'

- task: VSBuild@1
  displayName: 'Build MyNaati.Test'
  inputs:
    solution: 'Naati/MyNaati.Test/MyNaati.Test.csproj'
    configuration: '$(buildConfiguration)'

- task: VSBuild@1
  displayName: 'Build Ncms.Test'
  inputs:
    solution: 'Naati/Ncms.Test/Ncms.Test.csproj'
    configuration: '$(buildConfiguration)'

- task: VSTest@2
  displayName: 'Run Unit Tests'
  inputs:
    testSelector: 'testAssemblies'
    testAssemblyVer2: |
      **\*MyNaati.Test.dll
      **\*Ncms.Test.dll
    searchFolder: '$(System.DefaultWorkingDirectory)'

- task: Docker@2
  displayName: 'Build NcmsUi Image'
  inputs:
    containerRegistry: 'naati-serviceconnection'
    repository: '$(acrLoginServer)/$(imageNcms)'
    command: 'buildAndPush'
    Dockerfile: 'Naati/Ncms.Ui/Dockerfile'   # Fixed case sensitivity
    buildContext: 'Naati/Ncms.Ui'
    tags: |
      $(containerTag)

- task: Docker@2
  displayName: 'Build MyNaatiUi Image'
  inputs:
    containerRegistry: 'naati-serviceconnection'
    repository: '$(acrLoginServer)/$(imageMyNaati)'
    command: 'buildAndPush'
    Dockerfile: 'Naati/MyNaati.Ui/Dockerfile'   # Fixed case sensitivity
    buildContext: 'Naati/MyNaati.Ui'
    tags: |
      $(containerTag)

- task: HelmInstaller@1
  displayName: 'Install Helm'
  inputs:
    helmVersionToInstall: 'latest'

# Package MyNaati Helm Chart
- script: |
    helm package $(helmChartPathMyNaati) --version $(containerTag) --destination $(Build.ArtifactStagingDirectory)
  displayName: 'Package MyNaati Helm Chart'

# Package NCMS Helm Chart
- script: |
    helm package $(helmChartPathNcms) --version $(containerTag) --destination $(Build.ArtifactStagingDirectory)
  displayName: 'Package NCMS Helm Chart'

# Package Infrastructure Helm Chart (if needed)
- script: |
    helm package $(helmChartPathInfra) --version $(containerTag) --destination $(Build.ArtifactStagingDirectory)
  displayName: 'Package Infrastructure Helm Chart'

- task: AzureCLI@2
  displayName: 'Push Helm Charts to ACR'
  inputs:
    azureSubscription: 'f7fdab19-cae1-4b90-8af8-45052e6b72ca'  # Service connection name
    scriptType: 'ps'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az acr login --name $(acrName)
      
      # Push all Helm chart packages (*.tgz) to ACR helm repo
      $packages = Get-ChildItem -Path $(Build.ArtifactStagingDirectory) -Filter *.tgz
      foreach ($package in $packages) {
          Write-Host "Pushing $($package.Name) to ACR..."
          az acr helm push $package.FullName --name $(acrName)
      }

# Deploy MyNaati
- task: AzureCLI@2
  displayName: 'Helm Deploy MyNaati'
  inputs:
    azureSubscription: 'f7fdab19-cae1-4b90-8af8-45052e6b72ca'
    scriptType: 'ps'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az aks get-credentials --resource-group naati-dev-rg --name naati-dev-aks
      
      # Deploy MyNaati
      helm upgrade mynaati-uat mynaati --install --namespace uat \
        --version $(containerTag) \
        --set image.repository=$(acrLoginServer)/$(imageMyNaati) \
        --set image.tag=$(containerTag)
  condition: and(succeeded(), eq(variables['build.sourceBranch'], 'refs/heads/main'))

# Deploy NCMS
- task: AzureCLI@2
  displayName: 'Helm Deploy NCMS'
  inputs:
    azureSubscription: 'f7fdab19-cae1-4b90-8af8-45052e6b72ca'
    scriptType: 'ps'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az aks get-credentials --resource-group naati-dev-rg --name naati-dev-aks
      
      # Deploy NCMS
      helm upgrade ncms-uat ncms --install --namespace uat \
        --version $(containerTag) \
        --set image.repository=$(acrLoginServer)/$(imageNcms) \
        --set image.tag=$(containerTag)
  condition: and(succeeded(), eq(variables['build.sourceBranch'], 'refs/heads/main'))



