<div data-bind="compose: { model: logbookCredentialInstance, view: 'views/logbook/logbook-credential-edit' }"></div>
<div data-bind="compose: { model: periodSelectorInstance, view: 'views/logbook/logbook-period-selector' }"></div>
<div data-bind="compose: { model: activityAttachInstance, view: 'views/logbook/logbook-professional-credential-attach' }"></div>

<div class="vbox">
    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h1 class="m-n font-thin h3 text-black" data-bind="text: windowTitle"></h1>
                <small class="text-muted" data-bind="html: message"></small>

                <span class="pull-right" style="margin-top: -20px">
                    <!--ko if:showPeriodsButton -->
                    <a class="btn btn-success" data-bind="click: showPeriods">
                        <i class="fa fa-history"></i>
                        <span data-bind="reshtml: 'Naati.Resources.Logbook.resources.ShowSubmitted'"></span>
                    </a>
                    <!--/ko-->
                    <!--ko if: showCurrentPeriodButton-->
                    <a class="btn btn-success" data-bind="click: showCurrentPeriod">
                        <i class="far fa-clock"></i>
                        <span data-bind="reshtml: 'Naati.Resources.Logbook.resources.ShowCurrent'"></span>
                    </a>
                    <!--/ko-->
                </span>
            </div>
        </div>
    </div>
    <div class="row-row">
        <div class="wrapper-md">
            <!--ko if: credential.Calculated-->
            <div class="hbox text-center m-b">
                <div class="col bg-success">
                    <div class="padder-v">
                        <!--ko if: $root.selectedPeriod-->
                        <div class="h1 text-white font-thin" data-bind="textDate:  selectedPeriod().StartDate"></div>
                        <!--/ko-->
                        <span class="text-muted text-xs" data-bind="reshtml: 'Naati.Resources.Shared.resources.StartDate'"></span>
                    </div>
                </div>
                <div class="col bg-info">
                    <div class="padder-v">
                        <!--ko if: $root.selectedPeriod-->
                        <span class="text-white font-thin h1 block" data-bind="textDate: selectedPeriod().RecertificationEligibilityDate"></span>
                        <!--/ko-->
                        <span class="text-muted text-xs" data-bind="reshtml: 'Naati.Resources.Person.resources.RecertificationEligibilityDate'"></span>
                    </div>
                </div>
                <div class="col bg-danger">
                    <div class="padder-v">
                        <!--ko if: $root.selectedPeriod-->
                        <span class="text-white font-thin h1 block" data-bind="textDate: selectedPeriod().EndDate"></span>
                        <!--/ko-->
                        <span class="text-muted text-xs" data-bind="reshtml: 'Naati.Resources.Person.resources.CertificationExpiryDate'"></span>
                    </div>
                </div>
            </div>
          
            <div class="row">
                <br />
                <br />
                <div class="col-sm-offset-2 col-sm-8 text-center" data-bind="style: { 'height': '10vh' }">
                    <canvas id="chartCanvas" data-bind="chart: barChart"></canvas>
                    <label data-bind="text: credential.WorkPracticeUnits"></label>
                </div>
            </div>
            <!--/ko-->
            <br /><br /><br />
            <div class="hbox" data-bind="component: { name: 'table-component', params: tableDefinition}"></div>
        </div>

    </div>

    <div class="padder b-t b-gray bg-white wrapper-sm">
        <div class="pull-right">
            <a type="button" class="btn btn-default" data-dismiss="modal" data-bind="click:close">
                <i class="fa fa-times"></i>
                <span data-bind="reshtml: 'Naati.Resources.Shared.resources.Close'"></span>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script id="logbook-credential-header-template" type="text/html">
    <th class="sortable" data-bind="reshtml: 'Naati.Resources.Application.resources.Date'"></th>
    <th class="sortable" data-bind="reshtml: 'Naati.Resources.Shared.resources.Description'"></th>
    <th class="sortable" data-bind="text: $root.credential.WorkPracticeUnits"></th>
    <th class="sortable" data-bind="reshtml: 'Naati.Resources.Shared.resources.Attachments'"></th>    
    <th class="sortable" data-bind="reshtml: 'Naati.Resources.Application.resources.Status', visible:$root.isCurrentPeriod "></th>    
    <th>&nbsp;</th>
</script>
<script id="logbook-credential-row-template" type="text/html">
    <tr>        
        <td class="w-xs" data-bind="text: Date"></td>
        <td data-bind="text: Description"></td>
        <td class="w-xs" data-bind="text: Points"></td>
        <td class="w-xs">
            <i class="fa" data-bind="css: { 'fa-check text-success': HasAttachments(), 'fa-times text-danger': !HasAttachments() }"></i>
        </td>
        <td class="w-xs" data-bind="visible: $root.isCurrentPeriod">
            <i class="fa" data-bind="css: { 'fa-check text-success': Status(), 'fa-times text-danger': !Status() }"></i>
        </td>
        <td class="w-sm">
            <div class="btn-group">
                <!--ko if: $root.editable-->
                <a href="#" class="btn btn-default btn-xs" data-bind="click: $root.edit, tooltip: { trigger: 'hover', container: 'body' }, resattr: { title: 'Naati.Resources.Shared.resources.Edit' }">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <!--ko if: $root.attachable-->
                <a class="btn btn-danger btn-xs" data-bind="clickBubble: false, click: $root.detach, enable: $root.attachable, tooltip: { container: 'body', trigger: 'hover' }, resattr: { title: 'Naati.Resources.Shared.resources.Detach' }">
                    <span class="fa fa-unlink"></span>
                </a>
                <!--/ko-->
                <a href="#" class="btn btn-danger btn-xs" data-bind="click: $root.remove, tooltip: { trigger: 'hover', container: 'body' }, resattr: { title: 'Naati.Resources.Shared.resources.Delete' }">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
                <!--/ko-->
                <!--ko ifnot: $root.editable-->
                <a class="btn btn-default btn-xs" data-bind="clickBubble: false, click: $root.edit, tooltip: { container: 'body', trigger: 'hover' }, resattr: { title: 'Naati.Resources.Shared.resources.View' }">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
                <!--/ko-->
            </div>
        </td>
    </tr>
</script>