<div>
    <div class="m-b-md">
        <button type="button" class="btn btn-primary" data-bind="click: newCredentialRequest">
            <i class="fa fa-plus"></i>
            <span>New Credential Request</span>
        </button>
    </div>
    <div class="form-group" data-bind="validationElement: credentialRequests">
        <!--ko foreach: credentialRequests-->
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right dropdown m-t-n-xs">
                    <button class="btn btn-sm btn-danger" data-bind="click: $component.removeCredentialRequest, tooltip: { trigger: 'hover', placement: 'top', container: 'body' }" title="Delete this credential request">
                        <span class="fa fa-trash"></span>
                    </button>
                </div>
                <div class="cursor-pointer">
                    <div class="text-base wrapper-xs label no-text-shadow text-dark pos-rlt m-r b b-3x b-primary">
                        <i class="arrow right arrow-primary"></i>
                        <span data-bind="text: Level"></span>
                    </div>
                    <strong data-bind="text: Skill"></strong>
                </div>
            </div>
        </div>
        <!--ko if: $index() != $component.credentialRequests().length - 1-->
        <div class="m-t-n-sm">
            <hr />
        </div>
        <!--/ko-->
        <!--/ko-->
        <!--ko if: !credentialRequests().length-->
        <p>No credentials added</p>
        <!--/ko-->
        <span class="help-block" data-bind="validationMessage: credentialRequests"></span>
    </div>
</div>
<div id="addCredentialRequestModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title">Add Credential Request</h4>
            </div>
            <div class="modal-body">
                <div class="form">
                    <div class="form-group" data-bind="validationElement: request.CategoryId">
                        <label class="control-label">Category</label>
                        <!--ko component: { name: 'select-component', params: categoryOptions }-->
                        <!--/ko-->
                    </div>
                    <div class="form-group" data-bind="validationElement: request.CredentialTypes">
                        <label class="control-label">Type</label>
                        <!--ko component: { name: 'select-component', params: levelOptions }-->
                        <!--/ko-->
                    </div>
                    <div class="form-group" data-bind="validationElement: request.SkillId">
                        <label class="control-label">Skill</label>
                        <!--ko component: { name: 'select-component', params: skillOptions }-->
                        <!--/ko-->
                    </div>
                    <div class="form-group has-error">
                        <span class="help-block" data-bind="text: duplicatedCredentialRequestMessage, visible: duplicatedCredentialRequestMessage"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: addCredentialRequest, disable: addingCredentialRequest">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="disable: addingCredentialRequest">Cancel</button>
            </div>
        </div>
    </div>
</div>