@model NAATI.BusinessServices.API.Models.UserModel
@{
    Layout = "~/Views/Account/_Layout.cshtml";
}
<p class="login-box-msg">A new password has been sent to @Model.Email.</p>
<div class="social-auth-links text-center">
    <a href="@Url.Action("Signin")">Go to login page</a>
</div>