<div class="vbox">
    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h1 class="m-n font-thin h3 text-black" data-bind="reshtml: 'Naati.Resources.Person.resources.CertificationPeriods'"></h1>
            </div>
        </div>
    </div>
    <div class="row-row">
        <div class="wrapper-sm">
            <div class="wrapper-md">
                <strong data-bind="reshtml: 'Naati.Resources.Person.resources.CertificationPeriodsHelpBlock'"></strong>
            </div>

            <div class="col wrapper b-r b-light col-xs-8">
                <h4 class="font-thin m-t-none m-b-md text-muted" data-bind="reshtml: 'Naati.Resources.Person.resources.Periods'"></h4>
                <div class="m-b">
                    <table data-bind="datatable: tableDefinition, attr: { id: tableId }" class="table table-striped table-hover b-t b-b" style="width: 100%">
                        <thead>
                            <tr>
                                <th class="w-xxs"></th>
                                <th class="sortable" data-bind="reshtml: 'Naati.Resources.Person.resources.StartDate'"></th>
                                <th class="sortable" data-bind="reshtml: 'Naati.Resources.Person.resources.OriginalEndDate'"></th>
                                <th class="sortable" data-bind="reshtml: 'Naati.Resources.Person.resources.EndDate'"></th>
                                <th class="sortable" data-bind="reshtml: 'Naati.Resources.Application.resources.CertificationPeriodID'"></th>
                                <th class="sortable" data-bind="reshtml: 'Naati.Resources.Person.resources.Status'"></th>
                                <th class="sortable w-sm" data-bind="reshtml: 'Naati.Resources.Person.resources.Credentials'"></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: { data: periods, afterRender: selectIfSingle }">
                            <tr>
                                <td class="w-xxs"></td>
                                <td data-bind="text: moment(StartDate).format()"></td>
                                <td data-bind="text: moment(OriginalEndDate).format()"></td>
                                <td data-bind="text: moment(EndDate).format()"></td>
                                <td data-bind="text: Id"></td>
                                <td data-bind="text: Status"></td>
                                <td class="w-xxl">
                                    <ul class="list-unstyled" data-bind="foreach: $root.periodCredentials($data.Id)">
                                        <li>
                                            <span data-bind="text: CredentialTypeInternalName"></span>
                                            <span> - </span>
                                            <span data-bind="text: SkillDisplayName"></span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col wrapper col-xs-4">
                <!--ko ifnot: period.Id-->
                <h4 class="font-thin m-t-none m-b-md text-muted text-center" data-bind="reshtml: 'Naati.Resources.Person.resources.SelectAPeriod'"></h4>
                <!--/ko-->
                <div class="animated fadeIn" data-bind="css: { hide: !period.Id() }">
                    <h4 class="font-thin m-t-none m-b-md text-muted" data-bind="reshtml: 'Naati.Resources.Shared.resources.Details'"></h4>
                    <div class="form">
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label class="control-label" data-bind="reshtml: 'Naati.Resources.Application.resources.CertificationPeriodID'"></label>
                                <p class="form-control-static" data-bind="text: period.Id"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label class="control-label" data-bind="reshtml: 'Naati.Resources.Person.resources.Credentials'"></label>
                                <!--ko ifnot: periodCredentials(period.Id()).length-->
                                <p class="form-control-static">-</p>
                                <!--/ko-->
                                <!--ko if: periodCredentials(period.Id()).length-->
                                <ul class="form-control-static list-unstyled" data-bind="foreach: periodCredentials(period.Id())">
                                    <li>
                                        <span data-bind="text: CredentialTypeInternalName"></span>
                                        <span> - </span>
                                        <span data-bind="text: SkillDisplayName"></span>
                                        <span>(</span>
                                        <span data-bind="reshtml: 'Naati.Resources.Person.resources.StartDate'"></span>
                                        <span>: </span>
                                        <span data-bind="textDate: StartDate"></span>
                                        <span>)</span>
                                    </li>
                                </ul>
                                <!--/ko-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label class="control-label" data-bind="reshtml: 'Naati.Resources.Person.resources.Status'"></label>
                                <p class="form-control-static" data-bind="text: period.Status"></p>
                            </div>
                            <div class="form-group col-xs-6">
                                <label class="control-label" data-bind="reshtml: 'Naati.Resources.Person.resources.StartDate'"></label>
                                <!--<p data-bind="text: moment(period.StartDate()).format(CONST.settings.shortDateDisplayFormat)"></p>-->
                                
                                <div class="input-group">
                                    <input type="text" class="form-control text-center" data-bind="datepicker: { value: period.StartDate }, disable: disableFields" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label class="control-label" data-bind="reshtml: 'Naati.Resources.Person.resources.EndDate'"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control text-center" data-bind="datepicker: { value: period.EndDate }, disable: disableFields" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label class="control-label" data-bind="reshtml: 'Naati.Resources.Person.resources.OriginalEndDate'"></label>
                                <div class="input-group">
                                    <input type="text" class="form-control text-center" data-bind="datepicker: { value: period.OriginalEndDate }, disable: disableFields" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--ko if: checkResult-->
            <div class="wrapper b-t b-light">
                <h4 class="font-thin m-t-none m-b-md text-muted" data-bind="reshtml: 'Naati.Resources.Person.resources.CheckResult'"></h4>
                <!--ko if: !checkResult().Errors.length && !checkResult().Warnings.length-->
                <div class="text-success m-b">
                    <span class="fa fa-check-circle"></span>
                    <span data-bind="reshtml: 'Naati.Resources.Person.resources.PassedAllChecks'"></span>
                </div>
                <!--/ko-->
                <!--ko if: checkResult().Errors.length-->
                <ul class="list-unstyled text-danger" data-bind="foreach: checkResult().Errors">
                    <li>
                        <span class="fa fa-times"></span>
                        <span data-bind="html: $data"></span>
                    </li>
                </ul>
                <!--/ko-->
                <!--ko if: checkResult().Warnings.length-->
                <ul class="list-unstyled text-warning-dker" data-bind="foreach: checkResult().Warnings">
                    <li>
                        <span class="fa fa-exclamation-triangle"></span>
                        <span data-bind="html: $data"></span>
                    </li>
                </ul>
                <!--/ko-->
            </div>
            <div class="wrapper b-t b-light">
                <!--ko ifnot: checkResult().Errors.length-->
                <h4 class="font-thin m-t-none m-b-md text-muted" data-bind="reshtml: 'Naati.Resources.Person.resources.Notes'"></h4>
                <div class="form-group" data-bind="validationElement: notes">
                    <textarea class="form-control" rows="6" data-bind="value: notes"></textarea>
                </div>
                <!--/ko-->
            </div>
            <!--/ko-->
        </div>
    </div>
    <div class="padder b-t b-gray bg-white wrapper-sm">
        <div class="pull-right">
            <!--ko ifnot: checkResult-->
            <button class="btn btn-success" data-bind="enable: canCheck, click: check, tooltip: { trigger: 'hover' }, resattr: { title: 'Naati.Resources.Person.resources.CheckTooltip' }">
                <i class="fa fa-check"></i>
                <span data-bind="reshtml: 'Naati.Resources.Shared.resources.Check'"></span>
            </button>
            <!--/ko-->
            <!--ko if: showRecheck-->
            <button class="btn" data-bind="click: check, css: { 'btn-success': !showSave(),  'btn-default': showSave() }, tooltip: { trigger: 'hover' }, resattr: { title: 'Naati.Resources.Person.resources.CheckTooltip' }">
                <i class="fa fa-retweet"></i>
                <span data-bind="reshtml: 'Naati.Resources.Person.resources.Recheck'"></span>
            </button>
            <!--/ko-->
            <!--ko if: showSave-->
            <button class="btn btn-success" data-bind="click: save">
                <i class="fa fa-check"></i>
                <span data-bind="reshtml: 'Naati.Resources.Shared.resources.Save'"></span>
            </button>
            <!--/ko-->
            <button type="button" class="btn btn-danger" data-bind="click: tryClose">
                <i class="fa fa-ban"></i>
                <span data-bind="reshtml: 'Naati.Resources.Shared.resources.Cancel'"></span>
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>