<div id="credentialApplicationsModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" data-bind="reshtml: 'Naati.Resources.Person.resources.CredentialApplications'"></h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label class="control-label" data-bind="reshtml: 'Naati.Resources.Person.resources.Applications'"></label>
                            </div>
                            <div class="form-group">
                                <table class="table table-striped table-hover b-t b-b">
                                    <thead>
                                        <th class="sortable" data-bind="reshtml: 'Naati.Resources.Application.resources.ApplicationReference'"></th>
                                        <th class="sortable" data-bind="reshtml: 'Naati.Resources.Application.resources.ApplicationType'"></th>
                                        <th class="sortable" data-bind="reshtml: 'Naati.Resources.Application.resources.EnteredDate'"></th>
                                        <th>&nbsp;</th>
                                    </thead>
                                    <tbody data-bind="foreach: content">
                                        <tr>
                                            <td data-bind="text: 'APP' + Id"></td>
                                            <td data-bind="text: ApplicationType"></td>
                                            <td data-bind="text: EnteredDate"></td>
                                            <td class="text-center w-xs">
                                                <div class="btn-group">
                                                    <a href="#" class="btn btn-default btn-xs" data-bind="attr: { href: '#application/' + Id },resattr: { title: 'Naati.Resources.Shared.resources.Edit' }" target="_blank">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-8 text-left text-primary">
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> <span data-bind="reshtml: 'Naati.Resources.Shared.resources.Close'"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>