<div class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" data-bind="attr: { id: modalId }">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" data-bind="text: credential.CredentialType"></h4>
            </div>
            <div class="modal-body">
                <div class="form">
                    <div class="form-control-static" data-bind="validationOptions: { insertMessages: false }">
                        <label class="checkbox-inline i-checks">
                            <input type="checkbox" data-bind="checked: credential.ShowInOnlineDirectory"><i></i>
                            <span class="padder-md" data-bind="restext: 'Naati.Resources.Application.resources.ShowInOnlineDirectory'"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bind="click: save, enable: isDirty">
                    <i class="fa fa-check"></i> <span data-bind="reshtml: 'Naati.Resources.Shared.resources.Ok'"></span>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-ban"></i> <span data-bind="reshtml: 'Naati.Resources.Shared.resources.Cancel'"></span>
                </button>
            </div>
        </div>
    </div>
</div>