<div>
	<!--ko compose: credentialEditOptions --><!--/ko-->
	<!--ko compose: setCredentialTerminateDateOptions --><!--/ko-->
	<!--ko compose: moveCredentialOptions --><!--/ko-->
	<!--ko component: { name: 'table-component', params: tableDefinition }--><!--/ko-->
	<!--ko ifnot: isPerson-->
	<div class="text-danger">
		* <em data-bind="reshtml: 'Naati.Resources.NaatiEntity.resources.OrganizationCredentialNote'"></em>
	</div>
	<!--/ko-->
	<script id="person-credentials-header-template" type="text/html">
		<th class="sortable" data-bind="reshtml: 'Naati.Resources.Application.resources.CredentialType'"></th>
		<th class="sortable" data-bind="reshtml: 'Naati.Resources.Application.resources.Skill'"></th>
		<th class="sortable w-xs" data-bind="reshtml: 'Naati.Resources.Application.resources.StartDate'"></th>
		<th class="sortable w-xs" data-bind="reshtml: 'Naati.Resources.Application.resources.ExpiryDate'"></th>
		<th class="sortable w-xs" data-bind="reshtml: 'Naati.Resources.Application.resources.TerminationDate'"></th>
		<th class="sortable w-xs" data-bind="reshtml: 'Naati.Resources.Application.resources.CredentialStatus'"></th>
		<th class="sortable w-xs" data-bind="reshtml: 'Naati.Resources.Application.resources.RecertificationStatus'"></th>
		<th class="sortable w-xs" data-bind="reshtml: 'Naati.Resources.Application.resources.ShowInOnlineDirectory'"></th>
		<th class="sortable w-xs" data-bind="reshtml: 'Naati.Resources.Application.resources.CertificationPeriod'"></th>
		<th class="w-sm"></th>
	</script>
	<script id="person-credentials-row-template" type="text/html">
		<tr>
			<td data-bind="text: CredentialType"></td>
			<td data-bind="text: Direction"></td>
			<td data-bind="text: StartDate"></td>
			<td data-bind="text: ExpiryDate"></td>
			<td data-bind="text: TerminationDate"></td>

			<td>
				<span class="label badge m-t-xxs" data-bind="text: credentialStatusDisplay, css: credentialStatusClass"></span>
			</td>

			<td>
				<span class="label badge m-t-xxs" data-bind="text: recertificationStatusDisplay, css: recertificationStatusClass"></span>
			</td>
			<td data-bind="yesNo: ShowInOnlineDirectory"></td>
			<td data-bind="text: CertificationPeriodId"></td>
			<td class="text-right">
                <div class="btn-group">
                    <!--ko if: $root.showEdit($data)-->
                    <a href="#" class="btn btn-default btn-xs" data-bind="tooltip: { container: 'body', trigger: 'hover' }, click: $root.editCredential, resattr: { title: 'Naati.Resources.Shared.resources.Edit' },enableWithPermission:'Credential.Update'">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <!--/ko-->
                    <a href="#" class="btn btn-default btn-xs" data-bind="tooltip: { container: 'body', trigger: 'hover' }, click: function() { $root.applications(Id); }, resattr: { title: 'Naati.Resources.Shared.resources.Application' }">
                        <span class="fa fa-check-square"></span>
                    </a>
                    <!--ko if: $root.canTerminateCredentials() && $root.canSetTerminationDate($data)-->
                    <a href="#" class="btn btn-default btn-xs" data-bind="tooltip: { container: 'body', trigger: 'hover' }, click: $root.setTerminationDate, resattr: { title: 'Naati.Resources.Application.resources.SetTerminationDate' }, enableWithPermission:'Credential.Update'">
                        <span class="fa fa-calendar-check"></span>
                    </a>
                    <!--ko if: $root.canManageCredentials() && $root.showMove($data)-->
                    <a href="#" class="btn btn-default btn-xs" data-bind="tooltip: { container: 'body', trigger: 'hover' }, click: $root.moveCredential, resattr: { title: 'Naati.Resources.Application.resources.MoveCredentialTooltip' }, enableWithPermission:'Credential.Update'">
                        <span class="fa fa-arrows-alt"></span>
                    </a>
                    <!--/ko-->
                    <!--/ko-->
                </div>
			</td>
		</tr>
	</script>
</div>