<p>You have now completed the expression of interest for a NAATI test. Thank you for your time.</p>
<p>You will receive confirmation of your expression of interest by email and NAATI will contact you when the test/s you applied for are scheduled.</p>
<p>Please click the <strong>Submit</strong> button on this page to submit your expression of interest.</p>
