@model MyNaati.Ui.ViewModels.Shared.ApplicationForAccreditation.AddressModel
<div class="form-group">
    <label class="control-label">Street Details</label>
    <p class="form-control-static">@Model.StreetDetails</p>
</div>
<div class="form-group">
    <label class="control-label">Country</label>
    <p class="form-control-static">@Model.CountryName</p>
</div>
<div class="form-group">
    <label class="control-label">Suburb</label>
    <p class="form-control-static">@Model.SuburbName</p>
</div>
