<div class="row">
    <div class="col-lg-12">
        <p>
            Your payment has been processed, and your order has been submitted to NAATI for processing.  An invoice and receipt will be issued separately.<br />
            Delivery of your order may take up to 4 weeks.<br />
            Please print the details of your order below for reference.
        </p>
    </div>
</div>
