<table style="width:100%">
    <tr>
        <td>
            National Accreditation Authority for Translators and Interpreter Ltd
        </td>
        <td class="right">
            www.naati.com.au            
        </td>
    </tr>
    <tr>
        <td>
            ABN 42 008 596 996
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
</table>