<div id="Menu">
<div>
    <ul class="Inline">
        <li>
            @Html.ActionLink("Post Accreditation Products", "Index", "Product", null, new { style="width:200px" })
        </li>
        <li>
            @Html.ActionLink("Certificates", "Index", "Certificate")
        </li>
        <li>
            @Html.ActionLink("ID Cards", "Index", "IdCard")
        </li>
        <li>
            @Html.ActionLink("Stamps", "Index", "Stamp")
        </li>
    </ul>
</div>
</div>
<br />
