<div>
    <span>This step lists the prerequisite credential(s) for the current credential. All prerequisite credentials are mandatory before the current credential can be issued.</span>
</div>
<div class="m-t-n-md">
    <table class="table table-primary table-bordered table-striped" data-bind="datatable: tableDefinition">
        <thead>
            <tr>
                <th class="w-xxl" data-bind="reshtml: 'Naati.Resources.Application.resources.PrerequisiteCredential'"></th>
                <th class="w-xxl" data-bind="reshtml: 'Naati.Resources.Application.resources.MatchingCredential'"></th>
                <th class="w-xxs" data-bind="reshtml: 'Naati.Resources.Application.resources.Match'"></th>
                <th class="w-xxs" data-bind="reshtml: 'Naati.Resources.Application.resources.StartDate'"></th>
                <th class="w-xxs" data-bind="reshtml: 'Naati.Resources.Application.resources.EndDate'"></th>
                <th class="w-xxs" data-bind="reshtml: 'Naati.Resources.Application.resources.CertificationPeriodID'"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: prerequisites">
            <tr>
                <td data-bind="text: PreRequisiteCredential"></td>
                <td data-bind="text: MatchingCredential"></td>
                <td>
                    <span class="label text-base m-t-xs" data-bind="text: IsMatch, css: 'label-' + MatchButton()"></span>
                </td>
                <td data-bind="text: StartDate"></td>
                <td data-bind="text: EndDate"></td>
                <td data-bind="text: CertificationPeriodId"></td>
            </tr>
        </tbody>
    </table>
</div>
