<div class="form">
	<!--ko if: loading-->
	<span data-bind="reshtml: 'Naati.Resources.Application.resources.LoadingCredentials'"></span>
	<!--/ko-->
	<!--ko if: !loading() && !credentials().length-->
	<span data-bind="reshtml: 'Naati.Resources.Application.resources.ThereAreNoEligibleCredentials'"></span>
	<!--/ko-->
	<div class="form-group" data-bind="validationElement: request.SkillId, validationOptions: { insertMessage: false }">
		<!--ko foreach: { data: credentials, as: 'c' }-->
		<div class="radio">
			<label class="i-checks i-checks-default">
				<input type="radio" data-bind="attr: { value: c.Id }, checked: $root.credentialRequestId" />
				<i></i>
				<!--ko text: $root.displayName(c)-->
				<!--/ko-->
			</label>
		</div>
		<!--/ko-->
		<span class="help-block" data-bind="validationMessage: request.SkillId"></span>
	</div>
</div>