<div class="form">
    <div class="row">
        <!--ko if: credentialRequest.CredentialType.Certification()-->
        <div class="form-group pull-left w-md m-l-md" data-bind="validationElement: issueCredential.PractitionerNumber">
            <label class="control-label" data-bind="reshtml: 'Naati.Resources.Application.resources.PractitionerNumber'"></label>
            <p class="form-control-static" data-bind="text: issueCredential.PractitionerNumber"></p>
        </div>
        <!--/ko-->
        <div class="form-group pull-left w-md m-l-md" data-bind="validationElement: issueCredential.StartDate">
            <label class="control-label" data-bind="reshtml: 'Naati.Resources.Application.resources.StartDate'"></label>
            <!-- ko component: { name: 'date-input', params: startDateOptions } --><!-- /ko -->
            <span class="help-block" data-bind="validationMessage: issueCredential.StartDate"></span>
        </div>
        <div class="form-group pull-left w-md m-l-md m-r-md" data-bind="validationElement: issueCredential.ExpiryDate">
            <!--ko if: !credentialRequest.CredentialType.Certification()-->
            <label class="control-label" data-bind="reshtml: 'Naati.Resources.Application.resources.ExpiryDate'"></label>
            <!-- ko component: { name: 'date-input', params: expiryDateOptions } --><!-- /ko -->
            <span class="help-block" data-bind="validationMessage: issueCredential.ExpiryDate"></span>
            <!--/ko-->
        </div>
    </div>
    <div class="row">
        <div class="form-group pull-left w-md m-l-md" data-bind="validationElement: issueCredential.SelectedCertificationPeriodId">
            <!--ko if: credentialRequest.CredentialType.Certification()-->
            <label class="control-label" data-bind="reshtml: 'Naati.Resources.Application.resources.CertificationPeriod'"></label>
            <!-- ko component: { name: 'select-component', params: certificationPeriodOptions } --><!-- /ko -->
            <!--/ko-->
        </div>
        <!--ko if: credentialRequest.CredentialType.Certification()-->
        <div class="fadeIn animated" data-bind="css: { hide:  issueCredential.SelectedCertificationPeriodId() !== 0 }">
            <div class="form-group pull-left w-md m-l-md" data-bind="validationElement: issueCredential.CertificationPeriodStart">
                <label class="control-label" data-bind="reshtml: 'Naati.Resources.Application.resources.CertificationPeriodStart'"></label>
                <!-- ko component: { name: 'date-input', params: certificationPeriodStartOptions } --><!-- /ko -->
                <span class="help-block" data-bind="validationMessage: issueCredential.CertificationPeriodStart"></span>
            </div>
            <div class="form-group pull-left w-md m-l-md m-r-md" data-bind="validationElement: issueCredential.CertificationPeriodEnd">
                <label class="control-label" data-bind="reshtml: 'Naati.Resources.Application.resources.CertificationPeriodEnd'"></label>
                <!-- ko component: { name: 'date-input', params: certificationPeriodEndOptions } --><!-- /ko -->
                <span class="help-block" data-bind="validationMessage: issueCredential.CertificationPeriodEnd"></span>
            </div>
        </div>
        <!--/ko-->
    </div>
    <!--ko if: credentialRequest.CredentialType.Certification()-->
    <div class="checkbox" data-bind="validationOptions: { insertMessages: false }">
        <label class="checkbox-inline i-checks">
            <input type="checkbox" data-bind="checked: issueCredential.ShowInOnlineDirectory"><i></i>
            <span class="padder-md" data-bind="reshtml: 'Naati.Resources.Application.resources.ShowInOnlineDirectory'"></span>
        </label>
    </div>
    <!--/ko-->
</div>