<div class="form w-lg">
    <div class="form-group" data-bind="validationElement: request.CategoryId">
        <label class="control-label" data-bind="reshtml: 'Naati.Resources.Application.resources.Category'"></label>
        <!--ko component: { name: 'select-component', params: categoryOptions }-->
        <!--/ko-->
    </div>
    <div class="form-group" data-bind="validationElement: request.CredentialTypes">
        <label class="control-label" data-bind="reshtml: 'Naati.Resources.Application.resources.CredentialType'"></label>
        <!--ko component: { name: 'select-component', params: credentialTypeOptions }-->
        <!--/ko-->
    </div>
    <div class="form-group" data-bind="validationElement: request.SkillId">
        <label class="control-label" data-bind="reshtml: 'Naati.Resources.Application.resources.SkillLabel'"></label>
        <!--ko component: { name: 'select-component', params: skillOptions }-->
        <!--/ko-->
    </div>
</div>