<div>
    <!-- ko if: noOnHoldCreds -->
    <div class="alert alert-info" data-bind="reshtml: 'Naati.Resources.Application.resources.NoParentOnHoldCredentials'"></div>
    <!-- /ko -->
    <!-- ko ifnot: noOnHoldCreds -->
    <!-- ko if: allLoaded -->
    <div class="form-control-static">
        <span data-bind="text: option.Message"></span>
        <table id="onHoldTable" class="table table-primary table-bordered table-striped" data-bind="datatable: tableDefinition">
            <thead>
                <tr>
                    <th class="w-lg" data-bind="reshtml: 'Naati.Resources.Application.resources.CredentialRequest'"></th>
                    <th class="w-xxl" data-bind="reshtml: 'Naati.Resources.Application.resources.CredentialType'"></th>
                    <th class="w-lg" data-bind="reshtml: 'Naati.Resources.Application.resources.CredentialStatus'"></th>
                    <th class="w-lg" data-bind="reshtml: 'Naati.Resources.Application.resources.ExistingApplications'"></th>
                    <th class="w-lg" data-bind="reshtml: 'Naati.Resources.Application.resources.ApplicationType'"></th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: { data: onHoldCredentials(), as: 'e' }-->
                <tr>
                    <td data-bind="text: e.CredentialRequestId"></td>
                    <td data-bind="text: e.CredentialTypeAndSkillDisplayText"></td>
                    <td>
                        <p class="form-control-static">
                            <span class="label text-base" data-bind="text: e.CredentialRequestStatusDisplayName, css: e.credStatus"></span>
                        </p>
                    </td>
                    <td>
                        <a target="_blank" class="text-info" data-bind="text: e.ExistingApplicationId, attr: {href: e.url}"></a>
                        <p class="form-control-static">
                            <span class="label text-base" data-bind="text: e.CredentialApplicationStatusDisplayName, css: e.appStatus"></span>
                        </p>
                    </td>
                    <td data-bind="text: e.CredentialApplicationTypeDisplayName"></td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
        <br />
        <label class="checkbox-inline i-checks">
            <input type="checkbox" data-bind="checked: option.Checked"><i></i>
            <span class="padder-md" data-bind="reshtml: 'Naati.Resources.Application.resources.IssueOnHoldCredentialsCheckBoxMessage'"></span>
            <br />
            <!--ko if:  option.Checked() -->
            <span class="text-warning-dker" data-bind="html: option.OnEnableMessage"></span>
            <!-- /ko -->
            <!--ko ifnot:  option.Checked() -->
            <span class="text-warning-dker" data-bind="html: option.OnDisableMessage"></span>
            <!-- /ko -->
        </label>
    </div>
    <!-- /ko-->
    <!-- /ko -->
</div>