<div class="row">
    <div class="form-group col-lg-6">
        <label data-bind="reshtml: 'Naati.Resources.Shared.resources.ApplicationType'"></label>
        <!-- ko component: { name: 'select-component', params: applicationType } --><!-- /ko -->
    </div>
    <div class="form-group col-lg-3">
        <label data-bind="reshtml: 'Naati.Resources.Shared.resources.ApplicationStatus'"></label>
        <!-- ko component: { name: 'select-component', params: applicationStatus } --><!-- /ko -->
    </div>
    <div class="form-group col-lg-3">
        <label data-bind="reshtml: 'Naati.Resources.Shared.resources.ApplicationLineStatus'"></label>
        <!-- ko component: { name: 'select-component', params: applicationLineStatus } --><!-- /ko -->
    </div>
</div>