<!--ko if: !credentialRequests().length-->
<p data-bind="reshtml: 'Naati.Resources.Shared.resources.NoDataAvailableInTable'"></p>
<!--/ko-->
<!--ko foreach: { data: credentialRequests, as: 'l' }-->
<article class="media allow-overflow">
	<div class="pull-left no-padder m-r-xxs m-t-n-xs">
		<span class="fa fa-angle-double-down fa-2x" data-bind="css: { 'text-success': l.ConcededFromCredentialRequestId, 'text-white': !l.ConcededFromCredentialRequestId() }, tooltip, resattr: { title: 'Naati.Resources.Application.resources.ConcededPass' }"></span>
	</div>
	<div class="pull-left cursor-pointer no-padder m-r-xxs" data-bind="click: $component.collapser.toggleCollapse">
		<span class="fa" data-bind="css: { 'fa-minus-circle': $component.collapser.isOpened(l), 'fa-plus-circle': !$component.collapser.isOpened(l), 'text-white':  !l.Fields() || !l.Fields().length }"></span>
	</div>
	<div class="media-body allow-overflow">
		<!--ko if: $component.showActions-->
		<div class="pull-right dropdown m-t-n-xs">
			<button class="btn btn-sm btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bind="tooltip: { container: '#credentialRequests'  }, resattr: { title: 'Naati.Resources.Application.resources.TakeAction' }, enable: l.Actions().length">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>
			<ul class="dropdown-menu" data-bind="foreach: { data: l.Actions, as: 'a' }">
				<li>
					<a data-bind="text: Name, click: function() { $component.selectAction(l, a); }"></a>
				</li>
			</ul>
		</div>
		<!--/ko-->
		<div class="cursor-pointer" data-bind="click: $component.collapser.toggleCollapse">
			<!--ko ifnot: $component.hideApplicationType-->
			<strong data-bind="text: l.ApplicationTypeDisplayName" class="m-r-sm"></strong>
			<!--/ko-->
			<div class="text-base wrapper-xs label no-text-shadow text-dark pos-rlt m-r b b-3x" data-bind="css: 'b-' + $component.credentialStatusClass(l)">
				<i class="arrow right" data-bind="css: 'arrow-' + $component.credentialStatusClass(l)"></i>
				<span data-bind="text: l.ExternalCredentialName"></span>
			</div>
			<strong data-bind="text: Direction"></strong>
			<span class="label text-base m-t-n-xs m-l-sm" data-bind="text: l.Status, css: 'label-' + $component.credentialStatusClass(l)"></span>
			<!-- ko if: $component.CredentialRequestIsAutoCreated(l) -->
			<span class="label text-base m-t-n-xs m-l-sm label-info">Auto-Created</span>
			<!-- /ko -->
			<em class="pull-right m-r-sm">
				<span data-bind="reshtml: 'Naati.Resources.Application.resources.StatusChanged'"></span>
				<span class="cursor-pointer text-danger" data-bind="tooltip, attr: { title: moment(l.StatusChangeDate()).format(CONST.settings.shortDateTimeDisplayFormat) }, text: $component.humanizeDate(l.StatusChangeDate())"></span>
				<span data-bind="reshtml: 'Naati.Resources.Shared.resources.By'"></span>
				<span class="text-danger" data-bind="text: l.ModifiedBy"></span>
			</em>
		</div>
		<!--ko foreach: { data: l.TestSessions().filter(ts=> !ts.Rejected()), as: 'ts' }-->
		<div class="m-t-sm">
			<span class="text-info">
				<a href="#" data-bind="attr: { href: '#/test-session/' + ts.TestSessionId() }, text: $component.testSessionLinkText(ts)"></a>
				<span class="vl"></span>
			</span>
			<!--ko if: ts.Sat-->
			<span class="text-info">
				<a href="#" data-bind="attr: { href: '#/test/' + ts.CredentialTestSessionId() }, text: $component.attendanceLinkText(ts)"></a>
			</span>
			<!--/ko-->
			<!--ko ifnot: ts.Sat-->
			<span data-bind="text: $component.attendanceLinkText(ts)"></span>
			<!--/ko-->
			<span data-bind="visible: ts.ShowNonPreferredTestLocationInfo()">
				<a href="#" class="ml-1" data-bind="tooltip: { container: 'body', trigger: 'hover' }, resattr: { title: 'Naati.Resources.Application.resources.NonPreferredTestLocationInfo' }" title="" data-original-title="This application contains a test in a non-preferred test location">
					<span class="glyphicon glyphicon-info-sign" style="font-size: 18px;color: purple;"></span>
				</a>
			</span>
		</div>
		<!--/ko-->
		<div class="animated fadeIn" data-bind="css: { 'hidden': !$component.collapser.isOpened(l) }">
			<!--ko component: { name: 'application-fields', params: { fields: l.Fields } }--><!--/ko-->
		</div>
	</div>
</article>
<!--ko if: $index() != $component.credentialRequests().length - 1-->
<div class="line bg-light"></div>
<!--/ko-->
<!--/ko-->