<div class="row">
    <div class="form-group col-lg-6" data-bind="css: { 'hide': !showFilter() }">
        <!-- ko component: { name: 'select-component', params: filterOptions } -->
        <!-- /ko -->
    </div>
    <div class="form-group" data-bind="css: { 'date-range  col-lg-6': showFilter, 'col-lg-12': !showFilter() }">
        <div class="input-group input-daterange">

            <!--ko if: fromDateOptions.require-->
            <div data-bind="validationElement: fromDateOptions.value">
                <!-- ko component: { name: 'date-input', params: fromDateOptions } -->
                <!-- /ko -->
            </div>
            <!--/ko-->

            <!--ko ifnot: fromDateOptions.require-->
            <!-- ko component: { name: 'date-input', params: fromDateOptions } -->
            <!-- /ko -->
            <!--/ko-->

            <span class="input-group-addon" data-bind="reshtml: 'Naati.Resources.Shared.resources.To'"></span>

            <!--ko if: toDateOptions.require-->
            <div data-bind="validationElement: toDateOptions.value">
                <!-- ko component: { name: 'date-input', params: toDateOptions } -->
                <!-- /ko -->
            </div>
            <!--/ko-->

            <!--ko ifnot: toDateOptions.require-->
            <!-- ko component: { name: 'date-input', params: toDateOptions } -->
            <!-- /ko -->
            <!--/ko-->

        </div>
    </div>
</div>
