<div class="wrapper">
    <h2 class="text-primary" data-bind="text: title"></h2>
    <div class="row">
        <div class="col-sm-7">
            <h5 class="text-primary" data-bind="text:message"></h5>
        </div>
        <div class="col-sm-5 btn-toolbar m-l-none">
            <!--ko if: showCurrentPeriodButton-->  
            <button type="button" class="btn btn-primary pull-right" data-bind="click: showCurrentPeriod">Show Current Logbook</button>
            <!--/ko-->
            <!--ko if: showPeriodsButton-->
            <button type="button" class="btn btn-primary pull-right" data-bind="click: showPeriods">Show Submitted Logbooks</button>
            <!--/ko-->
        </div>
    </div>
    <br />
    <br />
    <br />

    <!--ko if: $root.credential.Calculated-->
    <div class="padder-v form row">

        <div class="col-sm-4 text-center">
            <div class="panel panel-primary alt-panel">
                <div class="panel-heading">Logbook Start Date</div>
                <div class="panel-body fa-2x text-muted">
                    <span class="fa fa-calendar"></span>
                    <!--ko if: $root.selectedPeriod-->
                    <span data-bind="textDate: { value: selectedPeriod().StartDate, outputFormat: 'LL' }"></span>
                    <!--/ko-->
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="panel panel-blue alt-panel">
                <div class="panel-heading">Recertification Eligibility Date</div>
                <div class="panel-body fa-2x text-muted">
                    <span class="fa fa-calendar"></span>
                    <!--ko if: $root.selectedPeriod-->
                    <span data-bind="textDate: { value:  selectedPeriod().RecertificationEligibilityDate, outputFormat: 'LL' }"></span>
                    <!--/ko-->
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="panel panel-danger alt-panel">
                <div class="panel-heading">Logbook End Date</div>
                <div class="panel-body fa-2x text-muted">
                    <span class="fa fa-calendar"></span>
                    <!--ko if: $root.selectedPeriod-->
                    <span data-bind="textDate: { value: selectedPeriod().EndDate, outputFormat: 'LL'}"></span>
                    <!--/ko-->
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

   
    <br />
    <br />
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 text-center" data-bind="style: { 'height': '10vh' }">
            <canvas id="chartCanvas" data-bind="chart: chart"></canvas>
            <label data-bind="text: credential.WorkPracticeUnits"></label>
        </div>
    </div>
    <br />
    <!--/ko-->

    <button type="button" class="btn btn-primary" data-bind="click: add, enable: $root.editable">Add Work Practice</button><br />
    <table class="table table-bordered table-striped" data-bind="datatable: tableDefinition">
        <thead>
            <tr>
                <th class="w-xs">Date</th>
                <th>Description</th>
                <th class="w-xxs" data-bind="text: credential.WorkPracticeUnits"></th>
                <th class="w-xxs">Attachments</th>
              
                <th data-bind="visible: $root.isCurrentPeriod" class="w-xxs">Status</th>
                <th class="w-xxs"></th>
             

            </tr>
        </thead>
        <tbody data-bind="foreach: { data: workPractices, as: 'a' }">
            <tr>
                <td class="text-center" data-bind="text: a.Date"></td>
                <td data-bind="text: a.Description"></td>
                <td class="text-right" data-bind="text: a.Points"></td>
                <td class="center">
                    <span class="fa" data-bind="text: a.HasAttachments, visible:false"></span>
                    <span class="fa" data-bind="css: { 'fa-check text-success': a.HasAttachments, 'fa-ban text-danger': !a.HasAttachments }"></span>
                </td>
             
                <td data-bind="visible: $root.isCurrentPeriod" class="text-center">
                    <span class="fa" data-bind="text: a.Status, visible:false"></span>
                    <span class="fa" data-bind="css: $root.statusIcon(a), tooltip: { trigger: 'hover', container: 'body' }, attr: { title: $root.statusTooltip(a) }"></span>
                </td>
             
                <td class="text-center">
                    <!--ko if: $root.editable-->
                    <a class="btn btn-xs btn-default" href="#" data-bind="click: $root.edit, tooltip: { trigger: 'hover', container: 'body'}" title="Edit this work practice"><span class="fa fa-edit"></span></a>
                    <a class="btn btn-xs btn-default" href="#" data-bind="click: $root.remove, tooltip: { trigger: 'hover', container: 'body'}" title="Delete this work practice"><span class="fa fa-trash"></span></a>
                    <!--/ko-->
                    <!--ko ifnot: $root.editable-->
                    <a class="btn btn-xs btn-default" href="#" data-bind="click: $root.edit, tooltip: { trigger: 'hover', container: 'body'}" title="Edit this work practice"><span class="fa fa-eye"></span></a>
                    <!--/ko-->
                </td>
             

            </tr>
        </tbody>
    </table>
    <!--ko compose: workPracticeEditOptions--><!--/ko-->
    <!--ko compose: periodSelectorOptions--><!--/ko-->
</div>