<div class="text-center wrapper-xl">
	<div class="text-center wrapper">
		<div class="test-item default">
			<table class="table table-striped table-hover b-t b-b dataTable no-footer" style="width: 100%">
				<thead>
					<tr>
						<th class="center" style="width: 33%">Application</th>
						<th class="center" style="width: 33%">Credential Request</th>
						<th class="center" style="width: 33%">Preferred Test Location</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><div class="col col-lg-3 detail"><span data-bind="text:applicationReference"></span></div></td>
						<td>
							<div class="col col-lg-3 detail"><span style="white-space: pre-line" data-bind="text:credentialRequestsDisplayNames()"></spanstyle="white-space:></div></td>
						<td>
							<div class="col col-lg-3 location"><span data-bind="text:preferredTestLocation()"></span></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>