body 
{
	margin: 0;
	padding: 0;
	background: #F5F5F5;
	font: 10pt Calibri, Arial;
	background: #FFFFFF;
	text-align: left;
}

#HelpContent li a,
#HelpContent p a
{
    color: #000;
}

.top_level_image {
    margin-left: 28px;	
}

#HelpContent img {
    margin-top: 0.6em;	
}

ol
{
	background: #FAFAFA;
	border: 1px solid #EEEEEE;
	padding: 10px 30px;
	margin: 0;
}

h1
{
	margin: 40px 0 0 0;
	padding: 0;
	padding-bottom:10px;
	font-size: 16pt;
	color: #00756B;
	border-top: 3px solid #00756B;
}

h1.First
{
	margin: 0 0 0 0;
}

h2
{
	margin: 20px 0 0 0;
	padding: 0;
	padding-bottom:3px;
	font-size: 14pt;
	color: #333333 !important;
	border-bottom: 1px solid #AAAAAA;
}

h3
{
	margin: 0;
	padding: 0;
	padding-bottom:5px;
	font-size: 12pt;
	color: #00756B;
}

p
{
	padding: 5px 0;
	margin: 0;
}

h1 a,
h2 a,
h3 a
{
	text-decoration: none !important;
}

#HelpContent
{
	padding: 20px;	
}

.MenuBody
{
	background: #00756B;	
	
}

#Menu
{
	font: 10pt Calibri, Arial;	
	color: #00756B;
	padding: 10px;
}

#Menu ul
{
	padding: 0;
	margin: 0;	
	/*background: #00756B;
	color: #FFFFFF;*/
	font-size: 11pt;
	font-weight: bold;
}

#Menu ul a,
#Menu ul a:visited
{
	padding: 0 2px;
	border: 1px solid #00756B;
	color: #FFFFFF;
	text-decoration: none;
}

#Menu ul a:hover,
#Menu ul a:active
{
	color: #000000;
	border: 1px solid #66aca4;
	background: #339186;
	text-decoration: none;
}

#Menu li
{
	padding: 3px;
	list-style: none;	
}

#Menu ul ul
{
	/*background: #FFFFFF;*/
	font-size: 10pt;
	padding-left: 10px;
	font-weight: normal;
}

#Menu ul ul a,
#Menu ul ul a:visited
{
	color: #FFFFFF;
	text-decoration: none;
}

#Menu ul ul a:hover,
#Menu ul ul a:active
{

	color: #000000;
}