#report { width:640px; }
#header img#logo { width:140px;height:140px;float:left; }
#header #title div.container { width:500px;float:left; }
#header #title div.container div { width:440px;float:left; }
.part { margin: 35px 0px 0px 0px; }
div.box { border: 1px solid #000; padding:1px; width: 636px;}
h1 { color:#008C7F;text-align:center; }
table { border-collapse:collapse; margin: 0px 0px 0px 0px;}
table.wide { width:100%; }
th, td { border: solid 1px #000; }
th { text-align:left;font-weight:bold; }
td { border-left:solid 1px #000; border-right: solid 1px #000; }
tr.header th, tr.header td { background-color:#008C7F;color:#FFF; }
tr.highlight th, tr.highlight td { background-color:#DFEFEE; }
table.wide table { width:100%; }
table.wide table td { border:none; }
img.tickbox { position:relative;top:1px; }
.tickone { font-size:9px; }
.tickone img.tickbox { width:8px;height:8px; }
.comment { font-size:10px;font-style:italic;font-weight:normal; }
.belowboxtext { font-size:8px;text-align:center; }

.vertical-text 
{             
    display:block; 
    -webkit-transform:rotate(-90deg); 
    -moz-transform:rotate(-90deg); 
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    background-color:#000;
    color:#FFF;
    font-weight:bold;
    text-align:center;             
}      
td.office-use-only 
{
    background-color:#000;
    width:50px;   
}   
td.black { background-color: Black; }
div.highlight { width: 634px; background-color:#DFEFEE; border:solid 1px #000; margin:5px 0px 5px 0px; padding: 2px 2px 2px 2px; }
div.office-use-only { position: relative; }
span.signature 
{
    border: solid 2px #000;
    width:70%;
}
span.box 
{
    float:left;
    border: solid 1px #000;
    width:18px;
    text-align:center;       
    margin-left:1px;
    margin-right:1px;
}
span.box-background
{
    float:left; 
    border: solid 1px #000; 
    color: #000; 
    width:18px;
    height:19px;
    text-align:right;
    vertical-align:bottom;
    margin-left:1px;
    margin-right:1px;
    padding: 1px 1px 0px 0px;
    font-size: 7px;
}
.box-container
{
    float:left;    
}

span.signature { width:60%; float: left; padding:5px 0px 5px 5px; margin:0px 10px 10px 0px; }
span.centred { vertical-align: middle; display: inline-block;}
td.black { background-color:#000; }

td.center-bottom 
{
    text-align: center;
    vertical-align:bottom;
    font-size: 8pt;  
}

td.center-top
{
    text-align:center;
    vertical-align:top;
    font-size:8pt;
}


.very-strong
{
    font-weight:bold;
    text-decoration: underline;
}

p.please-note
{
    border-width: 1px;
    border-style: solid;
    background-color: #D7D7D7;   
}

.center { text-align:center; }

#footer 
{
    padding-top: 10px;
}

#footer td
{
    border-width: 0px;   
    font-size: 8pt;
}

td.left  
{
    text-align: left;   
}

td.right
{
    text-align: right;   
}

div.tabular 
{
    border-left: 1px solid #000;
    border-right: 1px solid #000;   
}

th.part 
{
    width:15%;   
}

tr.header th 
{
    border-left: 0px;
    border-right: 0px;
}

tr.header 
{
    border: #000 1px solid;
}

span.manual
{
    float:right;   
}