<div class="panel panel-default no-border no-shadow m-b-none">
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="btn btn-success" data-bind="click: newCredentialRequest, enable: isEnable">
                    <i class="fa fa-plus"></i>
                    <span data-bind="restext: 'Naati.Resources.Application.resources.NewCredentialRequestActionLabel'"></span>
                </button>
            </div>
            <div class="panel-body">
                <!--ko component: credentialRequestOptions-->
                <!--/ko-->
            </div>
        </div>
    </div>
</div>
