BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblUser SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblSkill SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblPerson SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblCredentialType SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.tblCredentialPrerequisiteExemption
	(
	CredentialPrerequisiteExemptionId int NOT NULL IDENTITY (1, 1),
	PersonId int NOT NULL,
	CredentialTypeId int NOT NULL,
	SkillId int NOT NULL,
	StartDate datetime NOT NULL,
	EndDate datetime NULL,
	ModifiedDate datetime NOT NULL,
	ModifiedUser int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.tblCredentialPrerequisiteExemption ADD CONSTRAINT
	FK_tblCredentialPrerequisiteExemption_tblPerson FOREIGN KEY
	(
	PersonId
	) REFERENCES dbo.tblPerson
	(
	PersonId
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.tblCredentialPrerequisiteExemption ADD CONSTRAINT
	FK_tblCredentialPrerequisiteExemption_tblCredentialType FOREIGN KEY
	(
	CredentialTypeId
	) REFERENCES dbo.tblCredentialType
	(
	CredentialTypeId
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.tblCredentialPrerequisiteExemption ADD CONSTRAINT
	FK_tblCredentialPrerequisiteExemption_tblUser FOREIGN KEY
	(
	ModifiedUser
	) REFERENCES dbo.tblUser
	(
	UserId
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.tblCredentialPrerequisiteExemption ADD CONSTRAINT
	FK_tblCredentialPrerequisiteExemption_tblSkill FOREIGN KEY
	(
	SkillId
	) REFERENCES dbo.tblSkill
	(
	SkillId
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.tblCredentialPrerequisiteExemption SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
