<div class="vbox" id="personSettings">
    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h1 class="m-n font-thin h3 text-black" data-bind="text: windowTitle"></h1>
            </div>
        </div>
    </div>
    <div class="row-row">
        <div class="wrapper-sm">
            <table class="table table-bordered table-striped m-b-none">
                <thead>
                    <tr>
                        <th class="w-sm">Record</th>
                        <th class="w-xxl">Change Description</th>
                        <th class="w-sm">Updated By</th>
                        <th class="w-sm">Updated Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: audithistory.AuditHistory">
                    <tr>
                        <td data-bind="text: RecordName"></td>
                        <td data-bind="text: ChangeDetail"></td>
                        <td data-bind="text: Username"></td>
                        <td data-bind="text: $root.dateFormatted(DateTime())"></td>
                        <td class="text-center w-xs">
                            <div class="btn-group">
                                <a href="#" class="btn btn-default btn-xs" data-bind="click: $root.detail, clickBubble: false, tooltip, resattr: { title: 'Naati.Resources.Shared.resources.View' }">
                                    <span class="fa fa-eye"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="padder b-t b-gray bg-white wrapper-sm">
        <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: close">
                <i class="fa fa-times"></i>
                <span data-bind="reshtml: 'Naati.Resources.Shared.resources.Close'"></span>
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div data-bind="component: auditOptions"></div>