/*
   Wednesday, 28 September 20229:34:25 AM
   User: 
   Server: 2Y5R102\MSSQLSERVER01
   Database: NCMS_CLOUD
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblStoredFile
	DROP CONSTRAINT FK_tblStoredFile_tblStoredFileStatusType
GO
ALTER TABLE dbo.tblStoredFileStatusType SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblStoredFile ADD CONSTRAINT
	DF_tblStoredFile_StoredFileStatusTypeId DEFAULT 1 FOR StoredFileStatusTypeId
GO
ALTER TABLE dbo.tblStoredFile ADD CONSTRAINT
	DF_tblStoredFile_StoredFileStatusChangeDate DEFAULT GETDATE() FOR StoredFileStatusChangeDate
GO
ALTER TABLE dbo.tblStoredFile ADD CONSTRAINT
	FK_tblStoredFile_tblStoredFileStatusType1 FOREIGN KEY
	(
	StoredFileStatusTypeId
	) REFERENCES dbo.tblStoredFileStatusType
	(
	StoredFileStatusTypeId
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.tblStoredFile SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
