@{
    Layout = "~/Views/Shared/MasterPages/_Layout.cshtml";    
}
@section Head
{
    @RenderSection("Head", false)
}
@section Scripts
{
    @RenderSection("Scripts", false)
}
<div class="col-sm-3 side-menu">
    <div class="row">
        <div class="col-lg-12">
            @RenderSection("SideMenu", true)
        </div>
    </div>
</div>
<div class="col-sm-9">
    <div class="row">
        @RenderBody()
    </div>
</div>
