@model MyNaati.Ui.ViewModels.IdCard.WizardModel
@{
    ViewBag.Title = "Place an Order";
    ViewBag.Subtitle = "Photograph";
    Layout = "~/Views/Shared/MasterPages/_ProductWizardLayout.cshtml";
    ViewBag.BreadCrumb = new List<Tuple<string, string>>
    {
        new Tuple<string, string>("Products", Url.Action("index", "Product")),
        new Tuple<string, string>("ID Cards", string.Empty)
    };
}
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(cancelButtons).show();
            $(previousButtons).show();
            $(nextButtons).show();
        });
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <p>NAATI does not have a recent passport photo for you.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p>
            You will need to provide two recent passport photos.<br />
            You will be able to download a partially completed order form and mail this to NAATI along with the photographs, witness declaration and payment.
        </p>
    </div>
</div>
