@model MyNaati.Ui.ViewModels.IdCard.WizardModel
@{
    ViewBag.Title = "Place an Order";
    ViewBag.Subtitle = "Review";
    Layout = "~/Views/Shared/MasterPages/_ProductWizardLayout.cshtml";
    ViewBag.BreadCrumb = new List<Tuple<string, string>>
    {
        new Tuple<string, string>("Products", Url.Action("index", "Product")),
        new Tuple<string, string>("ID Cards", string.Empty)
    };
}
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(cancelButtons).show();
            $(previousButtons).show();
            $(downloadFormButtons).show();
            $(doneButtons).show();
            $(confirmButtons).show();
        });
    </script>
    @if (Model.PaymentMethodModel.IsOnlineOrder)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                var $processingPaymentModal = $('#processingPaymentModal');

                $(downloadFormButtons).hide();
                $(doneButtons).hide();

                $(confirmButtons).click(function () {
                    $(confirmButtons).prop('disabled', true);
                    $(cancelButtons).prop('disabled', true);
                    $(previousButtons).prop('disabled', true);
                    $processingPaymentModal.modal('show');
                });
            });
        </script>
        if (Model.IsProcessed)
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $(confirmButtons).prop('disabled', true);
                });
            </script>
            if (ViewContext.ViewData.ModelState.IsValid)
            {
                <script type="text/javascript">
                    $(document).ready(function () {
                        $(cancelButtons).prop('disabled', true);
                        $(previousButtons).prop('disabled', true);
                    });
                </script>
            }
        }
    }
    else
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $(confirmButtons).hide();
                $(doneButtons).prop('disabled', true);

                $(downloadFormButtons).click(function () {
                    $(cancelButtons).prop('disabled', true);
                    $(previousButtons).prop('disabled', true);

                    var anchors = $('.list-group-item');

                    if (anchors.length > 0) {
                        anchors.removeClass('active');
                        anchors.addClass('no-navigation');
                        anchors.attr('href', '#');
                    }
                });
            });
        </script>
    }
}
@if (Model.PaymentMethodModel.IsOnlineOrder)
{
    <div class="row">
        <div class="col-lg-12">
            <p>
                Review the details of your order below.<br />
                If you are satisfied with the order, select Confirm to process your payment.
            </p>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-lg-12">
            <p>
                Review the details of your order below.<br />
                If you are satisfied with the order, download the order form. After closing this screen, it will not be possible to retrieve this information.<br />
                Print the form and ensure you:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul>
                <li>Complete the form</li>
                <li>Attach two recent passport photos</li>
                <li>Have the witness complete and sign the witness declaration</li>
                <li>Sign and date the form</li>
                <li>Mail to NAATI</li>
            </ul>
        </div>
    </div>
}
@{ Html.RenderPartial("_OrderTotalViewPartial", Model.OrderTotalModel); }
@{ Html.RenderPartial("_DeliveryDetailsViewPartial", Model.DeliveryDetailsModel); }
@* If a payment method has not been selected there must be a photograph requirement *@
@if (Model.PaymentMethodModel.PaymentMethodId != 0)
{
    if (Model.PaymentMethodModel.IsOnlineOrder)
    {
        Html.RenderPartial("_PaymentDetailsViewPartial", Model.PaymentDetailsModel);
        Html.RenderPartial("_CertificateAndIdCardDeclarationPartial");
        Html.RenderPartial("_ProcessingPaymentMessagePartial");
    }
    else
    {
        Html.RenderPartial("_PaymentMethodViewPartial", Model.PaymentMethodModel);
    }
}
