<div class="test-item default">
	<div class="col col-lg-3 detail">
		Test Session ID: <span data-bind="text: testSession.TestSessionId"></span>
	</div>
	<div class="col col-lg-3 location">
		<span data-bind="text: testSession.TestLocationName"></span>,
		<span data-bind="text: testSession.State"></span>
	</div>
	<div class="col col-lg-3 date">
		<span data-bind="text: testSession.TestDateString"></span>
	</div>
	<div class="col col-lg-4 detail">
		<span data-bind="text: testSession.CredentialTypeDisplayName"></span>
		<span>-</span>
		<span data-bind="text: testSession.SkillDisplayName"></span>
	</div>
</div>