<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="ConnectionString" value="Server=3TVRQR3\SQLSERVER2022DEV;Initial Catalog=NCMS;Persist Security Info=False;User ID=mynaati_login;Password=Abc123!!!!; Enlist=false;" />
	<add key="ReportingMigrationConnectionString" value="Server=3TVRQR3\SQLSERVER2022DEV;Initial Catalog=NCMS_Reporting;Persist Security Info=False;User ID=mynaati_login;Password=Abc123!!!!; Enlist=false;" />
	<add key="ReportingDbConnectionString" value="Server=3TVRQR3\SQLSERVER2022DEV;Initial Catalog=NCMS_Reporting;Persist Security Info=False;User ID=mynaati_login;Password=Abc123!!!!; Enlist=false;" />
	<add key="NcmsMigrationConnectionString" value="Server=3TVRQR3\SQLSERVER2022DEV;Initial Catalog=NCMS;Persist Security Info=False;User ID=mynaati_login;Password=Abc123!!!!; Enlist=false;" />
	<add key="sam:SearchResultLimit" value="500" />
	<add key="sam:defaultAssetFileName" value="[TestAttendanceId] - [Skill] [Date] [UniqueID] - [DocumentType]" />
	<add key="tempFilePath" value="c:\tempStorage\TemporaryFiles" />
	<add key="applicationData" value="c:\storage\ContainerData\Ncms" />
	<add key="sam:IncludedFileExtensionsList" value="bmp,csv,doc,docx,gif,jpg,jpeg,pdf,png,pps,ppt,pptx,ppsx,rtf,tiff,txt,xls,xlsx,xml,zip,mp3,wma,wav,aiff,webm,mkv,flv,avi,mov,qt,wmv,rm,rmvb,mp4,m4p,m4v,mpg,mp2,mpeg,mpv,mpe,m2v,asf,divx,msg,m4a,m4b" />
	<add key="AadAuthTenant" value="altf4solutions.onmicrosoft.com" />
	<add key="AadAuthClientId" value="01a7d241-2d00-4835-8d09-cf57fffb5191" />
	<add key="AadAuthRedirectUri" value="localhost/api/System/AadResponse" />
	<add key="AadResponseRedirect" value="~/#system/setup/AzureAuthSuccess" />
	<add key="AzureEmailAccount" value="NCMS@altf4solutions.onmicrosoft.com" />
	<add key="AadAuthScope" value="openid offline_access https://graph.microsoft.com/mail.read https://graph.microsoft.com/mail.read.shared https://graph.microsoft.com/user.read" />
	<add key="SharedAccounts" value="sharedtest1@altf4solutions.onmicrosoft.com" />
	<add key="AccountingOperationsReportEmailsTo" value="LOCALHOST@altf4solutions.com.au" />
	<add key="EmailBatchingReportEmailsTo" value="murray.mcculloch@f1solutions.com.au" />
	<add key="AccountingOperationsLogEmailsTo" value="LOCALHOST@altf4solutions.com.au" />
	<add key="EmailBatchingLogEmailsTo" value="murray.mcculloch@f1solutions.com.au" />
	<add key="AccountingOperationsReportEmailsFrom" value="dev.noreply@altf4solutions.onmicrosoft.com" />
	<add key="logging:SeqUrl" value="http://localhost:5341" />
	<add key="logging:SeqLogBufferFileBase" value="seqBuffer" />
	<add key="logging:LogFile" value="app.log" />
	<add key="logging:DiagnosticsLogFile" value="loggingDiagnostics.log" />
	<add key="EnvironmentType" value="Dev" />
	<add key="EnvironmentName" value="DEV" />
	<add key="GoogleApiKeyFrontend" value="AIzaSyCwRmBZUnlm7MMoIwCVT1uOxx611lfXdSY" />
	<add key="GoogleApiKeyBackend" value="AIzaSyAJc5073jvLjNocIp7vKspioObmLSLmdNs" />
	<add key="InvoicePrefix" value="INV-" />
	<add key="CertificateStoreName" value="My" />
	<add key="fileSystemFileStorageServiceBasePath" value="c:\storage\FileStorage" />
	<add key="GraphResourceId" value="https://graph.microsoft.com/" />
	<add key="GraphApiBaseUrl" value="https://graph.microsoft.com/v1.0" />
	<add key="GraphTokenUrl" value="https://login.microsoftonline.com/common/oauth2/token" />
	<add key="AadAuthRedirectUri" value="https://localhost/api/System/AadResponse" />
	<add key="SearchResultLimit" value="500" />
	<add key="Office365AppId" value="01a7d241-2d00-4835-8d09-cf57fffb5191" />
	<add key="logging:MinimumLevel" value="Debug" />
	<add key="AzureAppClientId" value="dbbc5b7f-5f5e-4f6e-971f-6106511dffea" />
	<add key="AzureAppTenant" value="41bb5789-7441-4051-b270-c49376cfab28" />
	<add key="AzureAppAuthority" value="https://login.microsoftonline.com/{0}/v2.0" />
	<add key="AzureAppRedirectUri" value="https://localhost/ncms" />
	<add key="MyNaatiUrl" value="http://localhost/MyNaati.Web" />
	<add key="NcmsDefaultIdentity" value="NcmsDefaultUser@f1solutions.com.au" />
	<add key="MyNaatiDefaultIdentity" value="MyNaatiDefaultUser@f1solutions.com.au" />
	<add key="ShowAllMenuItems" value="false" />
	<add key="DebugMode" value="true" />
	<add key="DefaultUserDomain" value="@altf4solutions.com.au" />
	<add key="SASAccountName" value="storageappfilestemp" />
	<add key="SASShareName" value="dev-naati-share" />
	<add key="MaxUserRefreshDelaySeconds" value="15" />
	<add key="SASAccountKey" value="8btJLJisP+Zpl8Tyy+4gXtD17sHqeXM+3XUUVBvrO3P93wqGa0l5UfwF03m+J+XEleZ2GGnJ2a7O2F8jPNdLIw==" />
	<add key="StorageUriTemplate" value="https://{0}.file.core.windows.net/{1}/{2}" />
	<add key="StorageAccountTemplate" value="DefaultEndpointsProtocol=https;AccountName={0};AccountKey={1};EndpointSuffix=core.windows.net" />
	<add key="SecretPrefix" value="" />
	<add key="PodIp" value="localhost" />
	<add key="NcmsPodUrl" value="http://" />
	<add key="DesiredTimeZone" value="AUS Eastern Standard Time" />
	<add key="HttpsConfigured" value="false" />
	<add key="ScriptsTimeoutSeconds" value="500" />
	<add key="SASDemoFile" value="" />
	<add key="DefaultAppLocalUrl" value="http://127.0.0.1/ncms" />
	<add key="ReportingJobName" value="NCMS_Reporting_Cloud" />
	<add key="ReportingJobDatabaseName" value="NCMS_Reporting_Cloud" />
	<add key="WiiseAuthTenant" value="41bb5789-7441-4051-b270-c49376cfab28" />
	<add key="WiiseAuthClientId" value="3bc619bf-8b58-4681-9a6c-611e2679f3dc" />
	<add key="WiiseBaseUrl" value="https://wiise.api.bc.dynamics.com/v2.0/41bb5789-7441-4051-b270-c49376cfab28/NAATISandbox/api/v2.0/companies(d96ec21b-1177-eb11-b855-000d3a6a22b9)" />
	<add key="WiiseResource" value="https://api.businesscentral.dynamics.com" />
	<add key="WiiseAuthRedirectUri" value="https://localhost/api/System/WiiseResponse" />
	<add key="WiiseResponseRedirect" value="~/#system/setup/WiiseAuthSuccess" />
	<add key="WiiseTokenUrl" value="https://login.windows.net/41bb5789-7441-4051-b270-c49376cfab28/oauth2/token?resource=https://api.businesscentral.dynamics.com" />
	<add key="WiiseClientSecret" value="NTiGDUNetAs0xD~LsNEe349.RuWnIY_i0-" />
	<add key="WiiseRandomErrorsEnabled" value="false" />
	<add key="EncodeAttributeExpressions" value="(/&gt;[\s\S\r\n]*&lt;script&gt;[\s\S\r\n]*&lt;/script&gt;),(&lt;script&gt;[\s\S\r\n]*&lt;/script&gt;),(&lt;script&gt;),(&lt;/script&gt;)" />
	<add key="secrets:Source" value="AppConfig" />
	<add key="SecurePayMerchantId" value="ABC0001" />
	<add key="SecurePayMerchantCode" value="5AR0055" />
	<add key="SecurePayMerchantPassword" value="3uZEd5ROVIuMoAvL1FuqSx1vi6Na3oYt" />
	<add key="SecurePay_PaymentUrl" value="https://test.securepay.com.au/xmlapi/payment" />
	<add key="SecurePayClientId" value="0oaxb9i8P9vQdXTsn3l5" />
	<add key="SecurePayClientSecret" value="0aBsGU3x1bc-UIF_vDBA2JzjpCPHjoCP7oI6jisp" />
	<add key="SecurePayTokenUrl" value="https://welcome.api2.sandbox.auspost.com.au/oauth/token" />
	<add key="SecurePayResource" value="https://payments-stest.npe.auspost.zone" />
	<add key="SecurePayScope" value="https://api.payments.auspost.com.au/payhive/payments/read https://api.payments.auspost.com.au/payhive/payments/write" />
	<add key="SecurePayRedirectUri" value="" />
	<add key="OutboundIP" value="112.134.101.49" />
	<add key="SecurePay_FailedPaymentEventLogTarget" value="ePortal.SecurePay.PaymentErrors" />
	<add key="PayPalMode" value="sandbox" />
	<add key="PayPalConnectionTimeout" value="360000" />
	<add key="PayPalRequestRetries" value="1" />
	<add key="PayPalClientId" value="AW1ueiuxjsJze6vuo1B98qbDH9iK3LaUgyrNr9-noG4QrjKXZn4abiMUnLwRaA1-yO1HC58qchzWc1FW" />
	<add key="PayPalClientSecret" value="EOKjLxlVtiSwINUGiEOjHREbylIe7pkXUoK7mhgdjgN5u0nkoNEXNH4RXNg-uIGqXlblFMDKh0mQCU9o" />
  <add key="QrCodeAccessUrl" value="http://localhost/MyNaatiNext.Web/VerifyPractitioner?QrCode={0}" />
  <add key="QrCodeDocumentVerificationUrl" value="http://localhost/MyNaatiNext.Web/VerifyCredential?CredentialId={0}" />
</appSettings>