<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
	</configSections>
	<configBuilders>
		<builders>
			<add name="EnvironmentConfig" stripPrefix="true" prefix="" type="Microsoft.Configuration.ConfigurationBuilders.EnvironmentConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Environment, Version=1.0.0.0, Culture=neutral" mode="Expand" />
			<add name="AzureKeyVault" vaultName="[VaultName]" type="Microsoft.Configuration.ConfigurationBuilders.AzureKeyVaultConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Azure, Version=1.0.0.0, Culture=neutral" />
		</builders>
	</configBuilders>
	<appSettings file="User.config" configBuilders="EnvironmentConfig">
		<add key="ConnectionString" value="${ConnectionString}" />
		<add key="NcmsMigrationConnectionString" value="${NcmsMigrationConnectionString}" />
		<add key="ReportingDbConnectionString" value="${ReportingDbConnectionString}" />
		<add key="ReportingMigrationConnectionString" value="${ReportingMigrationConnectionString}" />
		<add key="sam:SearchResultLimit" value="${sam_SearchResultLimit}" />
		<add key="sam:defaultAssetFileName" value="${sam_defaultAssetFileName}" />
		<add key="tempFilePath" value="${tempFilePath}" />
		<add key="applicationData" value="${applicationData}" />
		<add key="sam:IncludedFileExtensionsList" value="${sam_IncludedFileExtensionsList}" />
		<add key="AadAuthTenant" value="${AadAuthTenant}" />
		<add key="AadAuthClientId" value="${AadAuthClientId}" />
		<add key="AadAuthRedirectUri" value="${AadAuthRedirectUri}" />
		<add key="AadResponseRedirect" value="${AadResponseRedirect}" />
		<add key="AzureEmailAccount" value="${AzureEmailAccount}" />
		<add key="AadAuthScope" value="${AadAuthScope}" />
		<add key="SharedAccounts" value="${SharedAccounts}" />
		<add key="AccountingOperationsReportEmailsTo" value="${AccountingOperationsReportEmailsTo}" />
		<add key="EmailBatchingReportEmailsTo" value="${EmailBatchingReportEmailsTo}" />
		<add key="AccountingOperationsLogEmailsTo" value="${AccountingOperationsLogEmailsTo}" />
		<add key="EmailBatchingLogEmailsTo" value="${EmailBatchingLogEmailsTo}" />
		<add key="AccountingOperationsReportEmailsFrom" value="${AccountingOperationsReportEmailsFrom}" />
		<add key="logging:SeqUrl" value="${logging_SeqUrl}" />
		<add key="logging:SeqLogBufferFileBase" value="${logging_SeqLogBufferFileBase}" />
		<add key="logging:LogFile" value="${logging_LogFile}" />
		<add key="logging:DiagnosticsLogFile" value="${logging_DiagnosticsLogFile}" />
		<add key="EnvironmentType" value="${EnvironmentType}" />
		<add key="EnvironmentName" value="${EnvironmentName}" />
		<add key="GoogleApiKeyBackend" value="${GoogleApiKeyBackend}" />
		<add key="GoogleApiKeyFrontend" value="${GoogleApiKeyFrontend}" />
		<add key="InvoicePrefix" value="${InvoicePrefix}" />
		<add key="CertificateStoreName" value="${CertificateStoreName}" />
		<add key="fileSystemFileStorageServiceBasePath" value="${fileSystemFileStorageServiceBasePath}" />
		<add key="GraphResourceId" value="${GraphResourceId}" />
		<add key="GraphApiBaseUrl" value="${GraphApiBaseUrl}" />
		<add key="GraphTokenUrl" value="${GraphTokenUrl}" />
		<add key="AadAuthRedirectUri" value="${AadAuthRedirectUri}" />
		<add key="SearchResultLimit" value="${SearchResultLimit}" />
		<add key="Office365AppId" value="${Office365AppId}" />
		<add key="SecurePayMerchantId" value="${SecurePayMerchantId}" />
		<add key="SecurePayMerchantCode" value="${SecurePayMerchantCode}" />
		<add key="SecurePayMerchantPassword" value="${SecurePayMerchantPassword}" />
		<add key="SecurePay_PaymentUrl" value="${SecurePay_PaymentUrl}" />
		<add key="logging:MinimumLevel" value="${logging_MinimumLevel}" />
		<add key="AzureAppClientId" value="${AzureAppClientId}" />
		<add key="AzureAppTenant" value="${AzureAppTenant}" />
		<add key="AzureAppAuthority" value="${AzureAppAuthority}" />
		<add key="AzureAppRedirectUri" value="${AzureAppRedirectUri}" />
		<add key="NcmsDefaultIdentity" value="${NcmsDefaultIdentity}" />
		<add key="MyNaatiDefaultIdentity" value="${MyNaatiDefaultIdentity}" />
		<add key="MyNaatiUrl" value="${MyNaatiUrl}" />
		<add key="SASAccountName" value="${SASAccountName}" />
		<add key="SASShareName" value="${SASShareName}" />
		<add key="SASAccountKey" value="${SASAccountKey}" />
		<add key="StorageUriTemplate" value="${StorageUriTemplate}" />
		<add key="StorageAccountTemplate" value="${StorageAccountTemplate}" />
		<add key="MaxUserRefreshDelaySeconds" value="${MaxUserRefreshDelaySeconds}" />
		<add key="ShowAllMenuItems" value="${ShowAllMenuItems}" />
		<add key="DebugMode" value="${DebugMode}" />
		<add key="DefaultUserDomain" value="${DefaultUserDomain}" />
		<add key="DesiredTimeZone" value="${DesiredTimeZone}" />
		<add key="HttpsConfigured" value="${HttpsConfigured}" />
		<add key="SASDemoFile" value="${SASDemoFile}" />
		<add key="SecretPrefix" value="${SecretPrefix}" />
		<add key="PodIp" value="${PodIp}" />
		<add key="NcmsPodUrl" value="${NcmsPodUrl}" />
		<add key="DefaultAppLocalUrl" value="${DefaultAppLocalUrl}" />
		<add key="ScriptsTimeoutSeconds" value="${ScriptsTimeoutSeconds}" />
		<add key="ReportingJobName" value="${ReportingJobName}" />
		<add key="ReportingJobDatabaseName" value="${ReportingJobDatabaseName}" />
		<add key="WiiseAuthTenant" value="${WiiseAuthTenant}" />
		<add key="WiiseAuthClientId" value="${WiiseAuthClientId}" />
		<add key="WiiseAuthRedirectUri" value="${WiiseAuthRedirectUri}" />
		<add key="WiiseResponseRedirect" value="${WiiseResponseRedirect}" />
		<add key="WiiseResource" value="${WiiseResource}" />
		<add key="WiiseTokenUrl" value="${WiiseTokenUrl}" />
		<add key="WiiseBaseUrl" value="${WiiseBaseUrl}" />
		<add key="WiiseRandomErrorsEnabled" value="${WiiseRandomErrorsEnabled}" />
		<add key="SecurePayClientId" value="${SecurePayClientId}" />
		<add key="SecurePayClientSecret" value="${SecurePayClientSecret}" />
		<add key="SecurePayResource" value="${SecurePayResource}" />
		<add key="SecurePayTokenUrl" value="${SecurePayTokenUrl}" />
		<add key="SecurePayRedirectUri" value="${SecurePayRedirectUri}" />
		<add key="SecurePayScope" value="${SecurePayScope}" />
		<add key="OutboundIP" value="${OutboundIP}" />
		<add key="EncodeAttributeExpressions" value="${EncodeAttributeExpressions}" />
		<!--Valid values: AppConfig|AzureKeyVault-->
		<add key="secrets:Source" value="${secrets_Source}" />
		<add key="PayPalMode" value="${PayPalMode}" />
		<add key="PayPalConnectionTimeout" value="${PayPalConnectionTimeout}" />
		<add key="PayPalRequestRetries" value="${PayPalRequestRetries}" />
		<add key="PayPalClientId" value="${PayPalClientId}" />
		<add key="PayPalClientSecret" value="${PayPalClientSecret}" />
		<add key="CredentialQrCodeURLTemplate" value="${CredentialQrCodeURLTemplate}" />
		<add key="TestSittingsWithoutMaterialReminderEmailAddresses" value="${TestSittingsWithoutMaterialReminderEmailAddresses}" />
		<add key="QrCodeAccessUrl" value="${QrCodeAccessUrl}" />
		<add key="EnableSwagger" value="true" />

  </appSettings>
	<system.web.webPages.razor>
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<pages pageBaseType="System.Web.Mvc.WebViewPage">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.Optimization" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>
	<system.net>
		<mailSettings>
			<smtp from="email@email.com" deliveryMethod="Network">
				<network host="localhost" port="25" defaultCredentials="true" />
			</smtp>
		</mailSettings>
		<connectionManagement>
			<add address="*" maxconnection="110" />
		</connectionManagement>
	</system.net>
	<system.web>
		<globalization configBuilders="EnvironmentConfig" uiCulture="en-AU" culture="en-AU" />
		<machineKey validationKey="B607EDA1AF054507672258B3A6554895435024820CF064DBAA09A426E9AC4CD8FD64BB84DD0655C9C51AC8DCC2D5E1B5C84091FE60FB9805327DA4EDC9C3F235" decryptionKey="A5AA15B2234D789CB292C10133DA0A0CF8D258B6542B219A" validation="SHA1" decryption="AES" />
		<authentication mode="Forms" configBuilders="EnvironmentConfig">
			<forms name="NCMS" loginUrl="/login" protection="All" timeout="15" requireSSL="false" slidingExpiration="true" />
		</authentication>
		<authorization>
			<allow users="?" />
		</authorization>
		<compilation debug="true" targetFramework="4.8" />
		<httpCookies httpOnlyCookies="true" requireSSL="false" />
		<httpRuntime targetFramework="4.8" maxRequestLength="2097152" />
		<customErrors mode="Off" defaultRedirect="~/Errors/InternalServerError">
			<error statusCode="403" redirect="~/Errors/AccessDenied" />
			<error statusCode="404" redirect="~/Errors/NotFound" />
			<error statusCode="500" redirect="~/Errors/InternalServerError" />
		</customErrors>

		<profile>
			<providers>
				<clear />
			</providers>
		</profile>
		<roleManager defaultProvider="RoleProvider" enabled="true">
			<providers>
				<clear />
				<add name="RoleProvider" type="Ncms.Ui.Security.RoleProvider" />
			</providers>
		</roleManager>
		<identity impersonate="false" />
		<sessionState mode="Off" />

	</system.web>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".woff2" />
			<remove fileExtension=".ttf" />
			<remove fileExtension=".eot" />
			<remove fileExtension=".svg" />
			<remove fileExtension=".woff" />
			<remove fileExtension=".otf" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
			<mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".eot" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".otf" mimeType="application/vnd.ms-fontobject" />
		</staticContent>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule" />
			<remove name="ApplicationInsightsWebTracking" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
			<!--<authentication>
				--><!--<anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="true" />--><!--
			</authentication>-->
		</security>
		<httpErrors errorMode="Detailed">
			<remove statusCode="403" />
			<remove statusCode="404" />
			<remove statusCode="500" />
			<error statusCode="403" responseMode="Redirect" path="/error.html" />
			<error statusCode="404" responseMode="Redirect" path="/error.html" />
			<error statusCode="500" responseMode="Redirect" path="/error.html" />
		</httpErrors>
		<asp scriptErrorSentToBrowser="true" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="no-cache,no-store, must-revalidate" />
				<add name="Pragma" value="no-cache" />
				<add name="X-Frame-Options" value="sameorigin" />
				<!--<add name="Content-Security-Policy" value="default-src 'self';script-src 'self' https://maps.googleapis.com https://maps.gstatic.com; object-src 'self';connect-src 'self'; img-src 'self'; style-src 'self'" />-->
				<add name="X-XSS-Protection" value="1; mode=block" />
				<add name="X-Content-Type-Options" value="nosniff" />
			</customHeaders>

		</httpProtocol>
		<!--<rewrite>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
      </outboundRules>
    </rewrite>-->
	</system.webServer>
	<!--<system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="1000000" />
        </behavior>
        <behavior name="clientInspectorsAdded">
          <clientBehaviorExtension />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        -->
	<!--<add name="clientBehaviorExtension" type="F1Solutions.Naati.Common.ServiceModel.ClientBehaviorExtensionElement, F1Solutions.Naati.Common, Version=1.0.0.0, Culture=neutral" />-->
	<!--
      </behaviorExtensions>
    </extensions>
    <client>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceBinding" maxReceivedMessageSize="10000000">
          <readerQuotas maxStringContentLength="10000000" />
          -->
	<!--<security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>-->
	<!--
        </binding>
        <binding name="LongTimeoutBinding" maxReceivedMessageSize="10000000" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <readerQuotas maxStringContentLength="10000000" />
          -->
	<!--<security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>-->
	<!--
        </binding>
        <binding name="LargeWebServiceBinding" maxReceivedMessageSize="51200000">
          <readerQuotas maxStringContentLength="51200000" />
          -->
	<!--<security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>-->
	<!--
        </binding>
        <binding name="fileStorageServiceBinding" maxReceivedMessageSize="2147483647" receiveTimeout="00:20:00" sendTimeout="00:20:00" transferMode="StreamedResponse">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          -->
	<!--<security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>-->
	<!--
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>-->

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.1.3" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Remotion.Linq.EagerFetching" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.14.2.0" newVersion="3.14.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Azure.KeyVault" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Azure.Services.AppAuthentication" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-106.11.7.0" newVersion="106.11.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>