ALTER PROCEDURE [dbo].[PrerequisiteApplicationsNullableApplications]
	-- Add the parameters for the stored procedure here
	@CredentialRequestId int
AS
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

------------------------------------- CLEAN UP OF TEMP TABLES IN CASE THE PROCEDURE BOMBED BEFORE IT COULD DROP THE TABLE LAST RUN -------------------------------------
	DROP TABLE IF EXISTS #TempPrerequisiteHeirarchy;

------------------------------------- RECURSION TO EXTRACT THE PREREQUISITE HIERARCHY FOR THE GIVEN CREDENTIAL REQUEST -------------------------------------

	-- Using a technique called Common Table Expression (CTE) we are able to recursively extract a hierarchy of prerequisite data based on the given credential request
	WITH PrerequisiteHeirarchy 
	AS (
		SELECT 
			rootPrerequisite.CredentialTypeId,
			rootPrerequisite.CredentialTypePrerequisiteId,
			rootPrerequisite.ApplicationTypePrerequisiteId,
			rootPrerequisite.SkillMatch,
			rootSkill.SkillId,
			rootCredentialApplication.PersonId
		FROM
			tblCredentialRequest rootCredentialRequest
			join tblCredentialApplication rootCredentialApplication on rootCredentialRequest.CredentialApplicationId = rootCredentialApplication.CredentialApplicationId
			join tblCredentialPrerequisite rootPrerequisite on rootCredentialRequest.CredentialTypeId = rootPrerequisite.CredentialTypeId and rootCredentialApplication.CredentialApplicationTypeId = rootPrerequisite.CredentialApplicationTypeId
			join tblSkill rootSkill on rootCredentialRequest.SkillId = rootSkill.SkillId
		WHERE
			rootCredentialRequest.CredentialRequestId = @CredentialRequestId

		UNION ALL
	
		SELECT
			recursivePrerequisite.CredentialTypeId,
			recursivePrerequisite.CredentialTypePrerequisiteId,
			recursivePrerequisite.ApplicationTypePrerequisiteId,
			recursivePrerequisite.SkillMatch,
			prerequisiteHierarchy.SkillId,
			prerequisiteHierarchy.PersonId
		FROM
			tblCredentialPrerequisite recursivePrerequisite
			join PrerequisiteHeirarchy prerequisiteHierarchy on prerequisiteHierarchy.CredentialTypePrerequisiteId = recursivePrerequisite.CredentialTypeId and prerequisiteHierarchy.ApplicationTypePrerequisiteId = recursivePrerequisite.CredentialApplicationTypeId
	)
	SELECT
		CredentialTypeId,
		CredentialTypePrerequisiteId,
		SkillMatch,
		ApplicationTypePrerequisiteId,
		SkillId as RootSkillId,
		PersonId
	INTO #TempPrerequisiteHeirarchy
	FROM
		PrerequisiteHeirarchy

------------------------------------- FIND PERSONS CREDENTIALS THAT MATCH THE PREREQUISITE HIERARCHY DATA -------------------------------------

	-- SET UP TEMP RESULTS TABLE AS VARIABLE
	DECLARE @ResultsTable TABLE (PrerequisiteCredentialName nvarchar(50), PrerequisiteCredentialLanguage1 nvarchar(50), PrerequisiteCredentialLanguage2 nvarchar(50), PrerequisiteSkillMatch bit, 
								PrerequistieDirection nvarchar(50), ExistingApplicationId int, ExistingApplicationStatusTypeId int, ExistingApplicationStatusName nvarchar(50), 
								ExistingApplicationTypeName nvarchar(50), MatchingCredentialName nvarchar(50), MatchingCredentialLanguage1 nvarchar(50),
								MatchingCredentialLanguage2 nvarchar(50), MatchingCredentialStatusTypeId int, MatchingCredentialStatusName nvarchar(50), MatchingCredentialDirection nvarchar(50),
								ApplicationTypePrerequisiteId int, PrerequisiteSkillId int)

	-- SET UP CURSOR TO ITERATE TEMP TABLE TO FIND MATCHING CREDENTIALS FOR EACH PREREQUISITE LEVEL
	DECLARE 
		@CredentialTypeId int,
		@CredentialTypePrerequisiteId int,
		@SkillMatch bit,
		@ApplicationTypePrerequisiteId int,
		@RootSkillId int,
		@PersonId int

	DECLARE db_cursor CURSOR FOR
		SELECT
			*
		FROM
			#TempPrerequisiteHeirarchy

	OPEN db_cursor

	FETCH NEXT FROM db_cursor INTO
		@CredentialTypeId,
		@CredentialTypePrerequisiteId,
		@SkillMatch,
		@ApplicationTypePrerequisiteId,
		@RootSkillId,
		@PersonId

	-- GO THROUGH EACH LEVEL OF THE HIEARCHY TO FIND MATCHING CREDENTIALS, IF THERE AREN'T ANY THEN THE EXISTING RESULTS WILL BE NULL
	WHILE @@FETCH_STATUS = 0
	BEGIN
		INSERT INTO @ResultsTable
			SELECT
				[Prerequisites].[PrerequisiteCredentialName],
				[Prerequisites].[PrerequisiteCredentialLanguage1],
				[Prerequisites].[PrerequisiteCredentialLanguage2],
				@SkillMatch as [PrerequisiteSkillMatch],
				[Prerequisites].[PrerequistieDirection],
				[Existing].[ExistingApplicationId],
				[Existing].[ExistingApplicationStatusTypeId],
				[Existing].[ExistingApplicationStatusName],
				[Existing].[ExistingApplicationTypeName],
				[Existing].[MatchingCredentialName],
				[Existing].[MatchingCredentialLanguage1],
				[Existing].[MatchingCredentialLanguage2],
				[Existing].[MatchingCredentialStatusTypeId],
				[Existing].[MatchingCredentialStatusName],
				[Existing].[MatchingCredentialDirection],
				@ApplicationTypePrerequisiteId as [ApplicationTypePrerequisiteId],
				@RootSkillId as [PrerequisiteSkillId]
			FROM
			(
				-- GET THE CREDENTIAL NAMES AND LANGUAGES FOR THE PREREQUISITE HIERARCHY
				SELECT
					prerequisiteCredentialType.InternalName AS [PrerequisiteCredentialName],
					CASE
						WHEN @CredentialTypePrerequisiteId = 16 THEN 'Ethics' -- if ethics then language 1 should be ethics, otherwise just use the root language 1
						ELSE 
							rootLanguage1.Name
					END AS [PrerequisiteCredentialLanguage1],
					CASE
						WHEN @CredentialTypePrerequisiteId = 16 THEN 'Ethics' -- if ethics then language 2 should be ethics, otherwise if skill match it should be root language 2, if not skill match use rootLanguage 1 again
						ELSE 
							CASE
								WHEN @SkillMatch = 1 THEN rootLanguage2.Name
								ELSE rootLanguage1.Name
							END
					END AS [PrerequisiteCredentialLanguage2],
					rootDirection.DisplayName as [PrerequistieDirection]
				FROM 
					tblCredentialType prerequisiteCredentialType,
					tblSkill rootSkill
					join tblLanguage rootLanguage1 on rootSkill.Language1Id = rootLanguage1.LanguageId
					join tblLanguage rootLanguage2 on rootSkill.Language2Id = rootLanguage2.LanguageId
					join tblDirectionType rootDirection on rootSkill.DirectionTypeId = rootDirection.DirectionTypeId
				WHERE
					prerequisiteCredentialType.CredentialTypeId = @CredentialTypePrerequisiteId
					and rootSkill.SkillId = @RootSkillId
			) [Prerequisites] LEFT OUTER JOIN
			(
				-- GET CREDENTIALS THAT MATCH THE PREREQUISITE HIERARCHY IF THEY EXIST
				SELECT
					existingRequestCredType.InternalName as [MatchingCredentialName],
					existingApplication.CredentialApplicationId as [ExistingApplicationId],
					existingApplication.CredentialApplicationTypeId,
					existingLanguage1.Name as [MatchingCredentialLanguage1],
					existingLanguage2.Name as [MatchingCredentialLanguage2],
					existingApplicationStatus.CredentialApplicationStatusTypeId as [ExistingApplicationStatusTypeId],
					existingApplicationStatus.DisplayName as [ExistingApplicationStatusName],
					existingApplicationType.DisplayName as [ExistingApplicationTypeName],
					existingRequestStatus.CredentialRequestStatusTypeId as [MatchingCredentialStatusTypeId],
					existingRequestStatus.DisplayName as [MatchingCredentialStatusName],
					existingDirection.DisplayName as [MatchingCredentialDirection]
				FROM
					tblCredentialApplication existingApplication
					inner join tblCredentialApplicationStatusType existingApplicationStatus on existingApplication.CredentialApplicationStatusTypeId = existingApplicationStatus.CredentialApplicationStatusTypeId
					inner join tblCredentialApplicationType existingApplicationType on existingApplication.CredentialApplicationTypeId = existingApplicationType.CredentialApplicationTypeId
					inner join tblCredentialRequest existingRequest on existingApplication.CredentialApplicationId = existingRequest.CredentialApplicationId
					inner join tblCredentialRequestStatusType existingRequestStatus on existingRequest.CredentialRequestStatusTypeId = existingRequestStatus.CredentialRequestStatusTypeId
					inner join tblCredentialType existingRequestCredType on existingRequest.CredentialTypeId = existingRequestCredType.CredentialTypeId
					inner join tblSkill existingSkill on existingRequest.SkillId = existingSkill.SkillId
					inner join tblLanguage existingLanguage1 on existingSkill.Language1Id = existingLanguage1.LanguageId
					inner join tblLanguage existingLanguage2 on existingSkill.Language2Id = existingLanguage2.LanguageId
					inner join tblDirectionType existingDirection on existingSkill.DirectionTypeId = existingDirection.DirectionTypeId
				WHERE
					existingApplication.PersonId = @PersonId
					AND existingApplication.CredentialApplicationTypeId = @ApplicationTypePrerequisiteId
					AND existingRequestStatus.CredentialRequestStatusTypeId NOT IN (2, 13, 14)
					AND existingApplicationStatus.CredentialApplicationStatusTypeId NOT IN (4, 7)
			) [Existing]
			ON [Existing].[MatchingCredentialName] = [Prerequisites].[PrerequisiteCredentialName]
			and [Existing].[MatchingCredentialLanguage1] = 
					CASE
						WHEN @CredentialTypePrerequisiteId = 16 THEN 'Ethics'
						ELSE [Prerequisites].PrerequisiteCredentialLanguage1
					END
			and [Existing].[MatchingCredentialLanguage2] = 
					CASE
						WHEN @CredentialTypePrerequisiteId = 16 THEN 'Ethics'
						ELSE
							CASE
								WHEN @SkillMatch = 1 THEN [Prerequisites].PrerequisiteCredentialLanguage2
								ELSE [Prerequisites].PrerequisiteCredentialLanguage1
							END
					END
		-- GO TO THE NEXT LEVEL OF THE HIERARCHY AND REPEAT
		FETCH NEXT FROM db_cursor INTO
		@CredentialTypeId,
		@CredentialTypePrerequisiteId,
		@SkillMatch,
		@ApplicationTypePrerequisiteId,
		@RootSkillId,
		@PersonId
	END
	-- CLEAN UP THE CURSOR
	CLOSE db_cursor
	DEALLOCATE db_cursor

	-- DROP THE TEMP TABLE AT THE END OF THE PROCEDURE SO IT IS NO LONGER IN THE DB
	DROP TABLE IF EXISTS #TempPrerequisiteHeirarchy

	-- SELECT THE RESULTS SO THAT THE PROCEDURE RETURNS THE RESULTS
	SELECT 
		* 
	FROM
		@ResultsTable
END