/*
   Tuesday, 9 August 202210:22:03 AM
   User: 
   Server: 2Y5R102\MSSQLSERVER01
   Database: NCMS_CLOUD
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblCredentialRequest ADD
	AutoCreated bit NULL
GO
ALTER TABLE dbo.tblCredentialRequest SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblCredentialApplication ADD
	AutoCreated bit NULL
GO
ALTER TABLE dbo.tblCredentialApplication SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
