<div class="m-b-md">
    <ol class="breadcrumb">
        <li>
            <a data-bind="attr: { href: homeLink }">Home</a>
        </li>
        <!--ko if: applicationFormId-->
        <li>
            <a href="$" data-bind="attr: { href: homeApplicationLink }">Applications Home</a>
        </li>
        <!--/ko-->
        <li class="active" data-bind="text: title"></li>
    </ol>
    <hr />
</div>
<div>
    <!--ko component: loaderOptions--><!--/ko-->
    <!--ko ifnot: showSubmissionResult-->
    <!--ko if: loaded-->
    <!--ko ifnot: applicationFormId-->
    <div class="menu-link-container wrapper-xl row">
        <!--ko if: !forms() || !forms().length-->
        <div class="alert alert-danger">
            No forms founds
        </div>
        <!--/ko-->
        <!--ko foreach: forms-->
        <div data-bind="css: $root.formSelectorClass">
            <div class="w-xl center-block">
                <div class="thumbnail">
                    <a href="#" data-bind="click: $root.selectForm">
                        <img class="img-responsive" data-bind="attr: { src: Icon }">
                    </a>
                    <div class="caption">
                        <h3><a href="#" data-bind="text: DisplayName, click: $root.selectForm"></a></h3>
                    </div>
                </div>
            </div>
        </div>
        <!--/ko-->
    </div>
    <!--/ko-->
    <!--ko if: applicationFormId-->
    <!--ko component: { name: 'wizard', params: wizardOptions }--><!--/ko-->
    <!--/ko-->
    <!--/ko-->
    <!--/ko-->
    <!--ko if: showSubmissionResult-->
    <div class="wrapper" data-bind="html: showSubmissionResultContent">
    </div>
    <!--/ko-->
</div>