/*
   Wednesday, 28 September 20228:47:09 AM
   User: 
   Server: 2Y5R102\MSSQLSERVER01
   Database: NCMS_CLOUD
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblUser SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.tblStoredFileStatusType
	(
	StoredFileStatusTypeId int NOT NULL IDENTITY (1, 1),
	Name varchar(50) NOT NULL,
	DisplayName nvarchar(50) NOT NULL,
	DisplayOrder int NOT NULL,
	ModifiedByNaati bit NOT NULL,
	ModifiedDate datetime NOT NULL,
	ModifiedUser int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.tblStoredFileStatusType ADD CONSTRAINT
	DF_tblStoredFileStatusType_DisplayOrder DEFAULT ((0)) FOR DisplayOrder
GO
ALTER TABLE dbo.tblStoredFileStatusType ADD CONSTRAINT
	PK_tblStoredFileStatusType PRIMARY KEY CLUSTERED 
	(
	StoredFileStatusTypeId
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.tblStoredFileStatusType ADD CONSTRAINT
	FK_tblStoredFileStatusType_tblUser FOREIGN KEY
	(
	ModifiedUser
	) REFERENCES dbo.tblUser
	(
	UserId
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.tblStoredFileStatusType SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblStoredFile ADD
	StoredFileStatusTypeId int NULL,
	StoredFileStatusChangeDate datetime NULL
GO
ALTER TABLE dbo.tblStoredFile ADD CONSTRAINT
	FK_tblStoredFile_tblStoredFileStatusType FOREIGN KEY
	(
	StoredFileStatusTypeId
	) REFERENCES dbo.tblStoredFileStatusType
	(
	StoredFileStatusTypeId
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.tblStoredFile SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
