<div>
    <div class="panel wrapper-sm">
        <div class="m-b-sm h4 font-thin">
            <span data-bind="text: summary.ApplicationTypeName"></span>
            <span data-bind="reshtml: 'Naati.Resources.Shared.resources.Application'"></span>
        </div>
        <div class="panel-body pull-in b-t b-light">
            <p class="form-control-static">
                <span data-bind="text: summary.CredentialTypeName"></span>
            </p>
            <p class="form-control-static">
                <span data-bind="text: summary.Skill"></span>
            </p>
            <p class="form-control-static">
                <strong data-bind="text: summary.Applicants().length"></strong>
                <span data-bind="reshtml: 'Naati.Resources.CredentialRequestSummary.resources.Applicants'"></span>
            </p>
            <p class="form-control-static">
                <span data-bind="reshtml: 'Naati.Resources.CredentialRequestSummary.resources.TestLocation'"></span>
                <strong class="form-control-static" data-bind="text: summary.PreferredTestLocation"></strong>
            </p>
            <p class="form-control-static">
                <span data-bind="reshtml: 'Naati.Resources.CredentialRequestSummary.resources.EarliestApplicationSubmittedOn'"></span>
                <strong class="form-control-static" data-bind="textDate: summary.EarliestApplication"></strong>
            </p>
            <p class="form-control-static">
                <span data-bind="reshtml: 'Naati.Resources.CredentialRequestSummary.resources.LastApplicationSubmittedOn'"></span>
                <strong class="form-control-static" data-bind="textDate: summary.LastApplication"></strong>
            </p>
        </div>
    </div>
</div>
