<div class="form row">
    <div class="form-group col-sm-2">
        <label class="control-label" data-bind="reshtml: 'Naati.Resources.Finance.resources.InvoiceTo'"></label>
        <p class="form-control-static" data-bind="text: invoice.InvoiceTo"></p>
    </div>
    <div class="form-group col-sm-2">
        <label class="control-label" data-bind="reshtml: 'Naati.Resources.Finance.resources.DueDate'"></label>
        <p class="form-control-static" data-bind="textDate: invoice.DueDate"></p>
    </div>
    <div class="form-group col-sm-2">
        <label class="control-label" data-bind="reshtml: 'Naati.Resources.Finance.resources.Branding'"></label>
        <p class="form-control-static" data-bind="text: invoice.Branding"></p>
    </div>
    <div class="form-group col-sm-3">
        <label class="control-label" data-bind="reshtml: 'Naati.Resources.Finance.resources.ReferenceText'"></label>
        <input type="text" class="form-control" data-bind="value: invoice.ReferenceText, valueUpdate: 'input', disable:invoice.DoNotInvoice" />
    </div>
    <div class="form-group col-sm-3">
        <label class="control-label" data-bind="reshtml: 'Naati.Resources.Finance.resources.InvoiceReference'"></label>
        <p class="form-control-static" data-bind="text: invoice.InvoiceReference"></p>
    </div>
</div>
<table class="table table-bordered table-striped" data-bind="datatable: tableDefinition">
    <thead>
    <tr>
        <th data-bind="reshtml: 'Naati.Resources.Payroll.resources.Code'"></th>
        <th data-bind="reshtml: 'Naati.Resources.Finance.resources.Description'"></th>
        <th data-bind="reshtml: 'Naati.Resources.Payroll.resources.GLCode'"></th>
        <th data-bind="reshtml: 'Naati.Resources.Finance.resources.ExGst'"></th>
        <th data-bind="reshtml: 'Naati.Resources.Finance.resources.Gst'"></th>
        <th data-bind="reshtml: 'Naati.Resources.Finance.resources.Total'"></th>
    </tr>
    </thead>
    <tbody data-bind="foreach: invoice.Lines">
    <tr>
        <td data-bind="text: Code"></td>
        <td data-bind="text: Description"></td>
        <td data-bind="text: GLCode"></td>
        <td data-bind="textCurrency: ExGst"></td>
        <td data-bind="textCurrency: Gst"></td>
        <td data-bind="textCurrency: Total"></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th colspan="3" data-bind="reshtml: 'Naati.Resources.Finance.resources.Total'"></th>
        <th data-bind="textCurrency: sumExGst"></th>
        <th data-bind="textCurrency: sumGst"></th>
        <th data-bind="textCurrency: sumTotal"></th>
    </tr>
    </tfoot>
</table>
<div class="form row">
    <div class="form-group col-sm-2">
        <label class="checkbox-inline i-checks">
            <input type="checkbox" data-bind="checked: invoice.DoNotInvoice, enableWithPermission: 'Invoice.Override'"><i></i>
            <span class="padder-md" data-bind="reshtml: 'Naati.Resources.Finance.resources.DoNotInvoice'"></span>
        </label>
    </div>
</div>
