<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped" data-bind="datatable: tableDefinition">
            <thead>
                <tr>
                    <th class="w-xxs"></th>
                    <th data-bind="reshtml: 'Naati.Resources.CredentialRequestSummary.resources.Session'"></th>
                    <th data-bind="reshtml: 'Naati.Resources.CredentialRequestSummary.resources.Venue'"></th>
                    <th data-bind="reshtml: 'Naati.Resources.CredentialRequestSummary.resources.TestDate'"></th>
                    <th data-bind="reshtml: 'Naati.Resources.CredentialRequestSummary.resources.VenueCapacity'"></th>
                    <th data-bind="reshtml: 'Naati.Resources.CredentialRequestSummary.resources.Applicants'"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: testSessions">
                <tr>
                    <td class="w-xxs"></td>
                    <td data-bind="text: Session"></td>
                    <td data-bind="text: Venue"></td>
                    <td data-bind="text: TestDate"></td>
                    <td data-bind="text: Capacity"></td>
                    <td data-bind="text: TotalApplicants"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>