/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
CREATE TABLE dbo.tblCredentialPrerequisite
	(
	CredentialPrerequisiteId int NOT NULL IDENTITY (1, 1),
	CredentialTypeId int NOT NULL,
	CredentialApplicationTypeId int NOT NULL,
	SkillMatch bit NOT NULL,
	ModifiedByNaati bit NOT NULL,
	ModifiedDate datetime NOT NULL,
	ModifiedUser int NOT NULL,
	CredentialTypePrerequisiteId int NOT NULL
	)  ON [PRIMARY]

GO

