/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
GO


DROP TABLE dbo.tblCredentialPrerequisite
GO
CREATE TABLE [dbo].[tblCredentialPrerequisite](
	[CredentialPrerequisiteId] [int] IDENTITY(1,1) NOT NULL,
	[CredentialApplicationTypeCredentialTypeId] [int] NOT NULL,
	[CredentialTypeId] [int] NOT NULL,
	[SkillMatch] [bit] NOT NULL,
	[ModifiedByNaati] [bit] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedUser] [int] NOT NULL,
	[CredentialTypePrerequisiteId] [int] NOT NULL,
 CONSTRAINT [PK_tblCredentialPrerequisite] PRIMARY KEY CLUSTERED 
(
	[CredentialPrerequisiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[tblCredentialPrerequisite] ADD  CONSTRAINT [DF_tblCredentialPrerequisite_ModifiedByNaati]  DEFAULT ((0)) FOR [ModifiedByNaati]
GO

ALTER TABLE [dbo].[tblCredentialPrerequisite] ADD  CONSTRAINT [DF_tblCredentialPrerequisite_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO

ALTER TABLE [dbo].[tblCredentialPrerequisite] ADD  CONSTRAINT [DF_tblCredentialPrerequisite_ModifiedUser]  DEFAULT ((40)) FOR [ModifiedUser]
GO

ALTER TABLE [dbo].[tblCredentialPrerequisite]  WITH CHECK ADD  CONSTRAINT [FK_tblCredentialPrerequisite_tblCredentialApplicationCredentialType] FOREIGN KEY([CredentialApplicationTypeCredentialTypeId])
REFERENCES [dbo].[tblCredentialApplicationTypeCredentialType] ([CredentialApplicationTypeCredentialTypeId])
GO

ALTER TABLE [dbo].[tblCredentialPrerequisite] CHECK CONSTRAINT [FK_tblCredentialPrerequisite_tblCredentialApplicationCredentialType]

ALTER TABLE [dbo].[tblCredentialPrerequisite]  WITH CHECK ADD  CONSTRAINT [FK_tblCredentialPrerequisite_tblCredentialType] FOREIGN KEY([CredentialTypeId])
REFERENCES [dbo].[tblCredentialType] ([CredentialTypeId])
GO

ALTER TABLE [dbo].[tblCredentialPrerequisite] CHECK CONSTRAINT [FK_tblCredentialPrerequisite_tblCredentialType]

GO
COMMIT
