<div class="vbox">
    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">
                    <span data-bind="text: title"></span>
                </h1>
            </div>
        </div>
    </div>
    <div class="row-row">
        <div class="cell">
            <div class="cell-inner">
                <div class="wrapper">
                    <div class="panel panel-default wrapper form col-md-12 col-xs-12" style="height: 800px;">
                        <!-- ko compose: apiAdminDetailsOptions --><!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="padder b-t b-gray bg-white wrapper-sm">
        <div class="pull-right">
            <button class="btn btn-success" data-bind="click: save, enable: canSave">
                <i class="fa fa-check"></i>
                <span data-bind="reshtml: 'Naati.Resources.Shared.resources.Save'"></span>
            </button>
            <a href="#system/apiadmin" class="btn btn-default"><i class="fa fa-times"></i> <span data-bind="reshtml: 'Naati.Resources.Shared.resources.Close'"></span></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
