<div data-bind="if: credentials().length">
	<hr />
	<div class="form-group" data-bind="validationElement: credentials">
		<div class="m-b-md">
            <span>These Credentials have already been awarded to you:</span>
		</div>
		<!--ko foreach: { data: credentials, as: 'c' }-->
		<div class="row">
            <div class="col-sm-12">
                <strong class="fa fa-chevron-right"></strong>
                <strong data-bind="text: c.CredentialTypeExternalName"></strong>
                <span> > </span>
                <strong data-bind="text: c.SkillDisplayName"></strong>
                <strong> - </strong>
                <span data-bind="text: c.Status"></span>
            </div>
		</div>
		<!--ko if: $index() != $parent.credentials().length - 1-->
		<div class="m-t-n-sm">
			<hr />
		</div>
		<!--/ko-->
		<!--/ko-->
	</div>
</div>