<div data-bind="if: credentials().length">
	<hr />
	<div class="form-group" data-bind="validationElement: credentials">
		<div class="m-b-md">
			<span>These Credentials are part of an in-progress application.</span>
		</div>
		<!--ko foreach: { data: credentials, as: 'c' }-->
		<div class="row">
            <div class="col-sm-12">
                <strong class="fa fa-chevron-right"></strong>
                <strong data-bind="text: c.ApplicationReference"></strong>
                <strong> - </strong>
                <strong data-bind="text: c.ApplicationTypeDisplayName"></strong>
                <span> > </span>
                <span data-bind="text: c.Level"></span>
                <span> - </span>
                <span data-bind="text: c.Skill"></span>
            </div>
		</div>
		<!--ko if: $index() != $parent.credentials().length - 1-->
		<div class="m-t-n-sm">
			<hr />
		</div>
		<!--/ko-->
		<!--/ko-->
	</div>
</div>