@model MyNaati.Ui.ViewModels.ApplicationByCourseWizard.DownloadFormModel
@{
    ViewBag.Title = "Application for Accreditation by Course";
    Layout = "~/Views/Shared/_ApplicationForAccreditationDownloadFormLayout.cshtml";
    ViewBag.BreadCrumb = new List<Tuple<string, string>>
    {
        new Tuple<string, string>("Apply", Url.Action("Index", "ApplicationForAccreditation")),
        new Tuple<string, string>("Accreditation by Course", Url.Action("Index", "ApplicationByCourseWizard")),
        new Tuple<string, string>("New Application", string.Empty)
    };
}
@section Table
{
    <table class="table">
        <thead class="bg-primary">
            <tr>
                <th>Fee</th>
                <th>Total ($AUD)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fee in Model.ApplicationFeesList)
            {
                <tr>
                    <td>@fee.Description</td>
                    <td class="currency">@fee.Total.ToString("c")</td>
                </tr>
            }
        </tbody>
    </table>
}
