BEGIN
	IF NOT EXISTS (
		SELECT *
		FROM sys.columns
		WHERE object_id = OBJECT_ID(N'[dbo].[tblSubmitTestDraft]')
			AND name = 'Feedback'
	) 
		BEGIN
			ALTER TABLE dbo.tblSubmitTestDraft ADD
				Feedback nvarchar(2000) NULL
		END
END
