@using MyNaati.Ui.Common
<div class="row">
    <div class="col-lg-12">
        <ul>
            <li>I declare the information provided in this application form is correct to the best of my knowledge.</li>
            <li>
                I acknowledge that by completing this form, I am providing personal information to NAATI. I agree that NAATI will collect, use, disclose
                and store my personal information in accordance with its <a href="@Url.ExternalUrlFromConfig("PrivacyPolicy")" target="_blank">Privacy Policy</a>.
            </li>
            <li>I understand that it may take up to 4 weeks to have my stamp delivered.</li>
            <li>
                I understand and acknowledge that NAATI will only issue this product with my official name - the name as shown on the photograph
                identification document which I have previously provided to NAATI. NAATI will not substitute or omit any part of my name,
                unless shorting is required to adequately contain my name on the product. In this case, NAATI will use the initial of one and more of my given names.
            </li>
            <li>I understand that neither my title, nor my qualification will be displayed on the Translator Stamp.</li>
            <li>I agree to maintain security of my stamp ensuring that it remains in my possession at all times and will only be applied to work that I have personally translated.</li>
        </ul>
    </div>
</div>
