<div class="vbox">
    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">
                    <span data-bind="html: title"></span>
                </h1>
            </div>
        </div>
    </div>
    <div class="row-row">
        <div class="cell">
            <div class="cell-inner">
                <div class="wrapper">
                    <!-- ko component: { name: 'rubric-marks-configuration', params: rubricOptions } --><!-- /ko -->
                </div>
            </div>
        </div>
    </div>
    <div class="padder b-t b-gray bg-white wrapper-sm">
        <div class="pull-right">
            <a data-bind="click:close" class="btn btn-default">
                <i class="fa fa-times"></i>
                <span data-bind="reshtml: 'Naati.Resources.Shared.resources.Close'"></span>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>