<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            <span data-bind="restext: 'Naati.Resources.Finance.resources.ProgressInvoice'"></span>
        </h2>
    </div>
    <div class="panel-body">
        <div class="form">
            <div class="form-group">
                <button type="button" class="btn btn-primary" data-bind="click: progressInvoice">
                    <i class="fa fa-check"></i>
                    <span data-bind="restext: 'Naati.Resources.Finance.resources.ProgressInvoice'"></span>
                </button>
            </div>
        </div>
    </div>
</div>