<div class="hbox">

    <div class="hbox" data-bind="component: {
    name: 'search-component',
    params: { title: title, filters: filters, searchType: searchType, searchTerm: searchTerm, searchCallback: searchCallback, tableDefinition: tableDefinition }
                                            }">
    </div>


    <script id="credential-request-summary-header-template" type="text/html">        
        <th data-bind="visible:false"></th>
        <th class="sortable" data-bind="reshtml: 'Naati.Resources.CredentialRequestSummary.resources.DaysSinceSubmission'"></th>
        <th class="sortable" data-bind="reshtml: 'Naati.Resources.CredentialRequestSummary.resources.ApplicationType'"></th>
        <th class="sortable" data-bind="reshtml: 'Naati.Resources.CredentialRequestSummary.resources.CredentialRequestType'"></th>
        <th class="sortable" data-bind="reshtml: 'Naati.Resources.CredentialRequestSummary.resources.Skill'"></th>
        <th class="sortable" data-bind="reshtml: 'Naati.Resources.CredentialRequestSummary.resources.PreferredTestLocation'"></th>
        <th class="sortable" data-bind="reshtml: 'Naati.Resources.CredentialRequestSummary.resources.NumberOfApplicants'"></th>
        <th class="sortable" data-bind="reshtml: 'Naati.Resources.CredentialRequestSummary.resources.CredentialRequestStatus'"></th>
        <th>&nbsp;</th>
    </script>

    <script id="credential-request-summary-row-template" type="text/html">
        <tr>      
            <td data-bind="text: DaysSinceSubmissionInt,visible:false"></td>       
            <td data-bind="text: DaysSinceSubmission"></td>                             
            <td data-bind="text: ApplicationTypeName"></td>
            <td data-bind="text: CredentialTypeName"></td>
            <td data-bind="text: Skill"></td>
            <td data-bind="text: PreferredTestLocation"></td>
            <td data-bind="text: NumberOfApplicants"></td>
            <td data-bind="text: RequestStatus"></td>            
            <td class="text-right w-xs">
                <div class="btn-group" style="float: right">
                                       
                    <!--ko if : ShowAllocateTestSession-->                    
                    <a href="#" class="btn btn-default btn-xs" data-bind="attr: { href: '#credentialrequest/' + CompositeId }, clickBubble: false, tooltip: { container: '#' + $root.tableDefinition.id }, resattr: { title: 'Naati.Resources.Shared.resources.AllocationTestSession' }">
                        <span class="fa fa-calendar-check"></span>
                    </a>
                    <!--/ko-->    

                    <div class="pull-right dropdown">
                        <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bind="tooltip: { container: '#credentialRequests'  }, resattr: { title: 'Naati.Resources.Application.resources.TakeAction' }, click: $root.getActions">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </button>
                        <ul class="dropdown-menu" data-bind="foreach: { data: Actions, as: 'a' }">
                            <li data-bind="css: { disabled: a.Disabled }">
                                <a data-bind="text: a.Name, click: function() { $root.selectAction($parent, a); }"></a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </td>
        </tr>
    </script>

</div>