P.MsoNormal {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt;  LINE-HEIGHT: normal; }
span.MsoNormal {color:windowtext; text-decoration:none; }

H1 {FONT-SIZE: 20pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold;  COLOR: #00756b;  MARGIN: 10pt 0pt 8pt;  LINE-HEIGHT: normal; }

div[align] table {text-align: left; }

H3 {FONT-SIZE: 16pt;  FONT-FAMILY: "Verdana",sans-serif;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  COLOR: #00756b;  MARGIN: 9pt 0pt 7pt;  LINE-HEIGHT: normal; }

H2 {FONT-SIZE: 16pt;  FONT-FAMILY: "Verdana",sans-serif;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  COLOR: #00756b;  MARGIN: 9pt 0pt 7pt;  LINE-HEIGHT: normal; }


P.RelatedHead {FONT-SIZE: 11pt;  FONT-FAMILY: "Verdana",sans-serif;  FONT-WEIGHT: bold;  COLOR: #00756b;  MARGIN: 9pt 0pt 1pt;  LINE-HEIGHT: normal; }


P.MsoBodyText {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 5pt 0pt 0pt;  LINE-HEIGHT: 14pt; }

button {text-indent: 0pt; }

