@{
	Layout = "~/Views/Shared/MasterPages/_KnockoutLayout.cshtml";
	ViewBag.ShowLogon = true;
	ViewBag.ShowMenu = true;
	ViewBag.RedirectLogoUrl = System.Configuration.ConfigurationManager.AppSettings["ExternalUrl_NAATI_URL"];
	ViewBag.Title = "Apply for a Paid Review";
	ViewBag.ShowBreadCrumb = false;
}
@section Head {
	@Styles.Render("~/Bundles/Styles")
}

@section Scripts
{
	<script src="@ViewBag.PayPalClientId"></script>
}
<div id="applicationHost" data-app-root="views/applications/apply-for-paid-review"></div>