<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
  </configSections>
	<configBuilders>
    <builders>
      <remove name="AzureKeyVault" />
			<add name="AzureKeyVault" vaultName="keyvaultprototyping" type="Microsoft.Configuration.ConfigurationBuilders.AzureKeyVaultConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Azure, Version=1.0.0.0, Culture=neutral" vaultUri="https://keyvaultprototyping.vault.azure.net" />
			<add name="EnvironmentConfig" stripPrefix="true" prefix="" type="Microsoft.Configuration.ConfigurationBuilders.EnvironmentConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Environment, Version=1.0.0.0, Culture=neutral" mode="Expand" />
      <add name="PayPalConfig" stripPrefix="true" prefix="" type="Microsoft.Configuration.ConfigurationBuilders.EnvironmentConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Environment, Version=1.0.0.0, Culture=neutral" mode="Expand" />
    </builders>
	</configBuilders>
	<connectionStrings>
	</connectionStrings>
  <appSettings file="User.config" configBuilders="EnvironmentConfig">
    <add key="ConnectionString" value="${ConnectionString}" />
		<add key="CertificationApiLimit" value="3" />
		<add key="RecaptchaSecretKey" value="${RecaptchaSecretKey}" />
		<add key="aspnet:MaxJsonDeserializerMembers" value="${aspnet_MaxJsonDeserializerMembers}" />
		<!-- Client validation turned off so that the ValidationSummary show/hide works -->
		<add key="ClientValidationEnabled" value="${ClientValidationEnabled}" />
		<add key="UnobtrusiveJavaScriptEnabled" value="${UnobtrusiveJavaScriptEnabled}" />
		<add key="GoogleAnalyticsEnabled" value="${GoogleAnalyticsEnabled}" />
		<add key="webpages:Enabled" value="${webpages_Enabled}" />
		<add key="webpages:Version" value="${webpages_Version}" />
		<add key="ExternalUrl_Applications_URL" value="${ExternalUrl_Applications_URL}" />
		<add key="ExternalUrl_NAATI_URL" value="${ExternalUrl_NAATI_URL}" />
		<add key="ExternalUrl_NAATI" value="${ExternalUrl_NAATI}" />
		<add key="ExternalUrl_FAQ" value="${ExternalUrl_FAQ}" />
		<add key="ExternalUrl_PrivacyPolicy" value="${ExternalUrl_PrivacyPolicy}" />
		<add key="ExternalUrl_RefundPolicy" value="${ExternalUrl_RefundPolicy}" />
		<add key="ExternalUrl_ShippingPolicy" value="${ExternalUrl_ShippingPolicy}" />
		<add key="ExternalUrl_TermsAndConditions" value="${ExternalUrl_TermsAndConditions}" />
		<add key="ExternalUrl_ContactUs" value="${ExternalUrl_ContactUs}" />
		<add key="ExternalUrl_Witness" value="${ExternalUrl_Witness}" />
		<add key="ExternalUrl_AccreditationLevels" value="${ExternalUrl_AccreditationLevels}" />
		<add key="ExternalUrl_AccreditationMethodList" value="${ExternalUrl_AccreditationMethodList}" />
		<add key="ExternalUrl_AccreditationByCourseInformationBooklet" value="${ExternalUrl_AccreditationByCourseInformationBooklet}" />
		<add key="ExternalUrl_AccreditationByTestingInformationBooklet" value="${ExternalUrl_AccreditationByTestingInformationBooklet}" />
		<add key="ExternalUrl_ApprovedCourseInformation" value="${ExternalUrl_ApprovedCourseInformation}" />
		<add key="ExternalUrl_AccreditationByTestingLanguages" value="${ExternalUrl_AccreditationByTestingLanguages}" />
		<add key="ExternalUrl_ExpressionOfInterestInformation" value="${ExternalUrl_ExpressionOfInterestInformation}" />
		<add key="ExternalUrl_FormsAndFees" value="${ExternalUrl_FormsAndFees}" />
		<add key="ExternalUrl_RevalidationProducts" value="${ExternalUrl_RevalidationProducts}" />
		<add key="OnlineDirectoryUrl" value="${OnlineDirectoryUrl}" />
		<add key="OnlineHelpUrl" value="${OnlineHelpUrl}" />
		<add key="ActiveReportsLicense" value="${ActiveReportsLicense}" />
		<add key="CredentialQrCodeURLTemplate" value="${CredentialQrCodeURLTemplate}" />
		<add key="DownloadApplicationForCredentialByTestingPDFName" value="${DownloadApplicationForCredentialByTestingPDFName}" />
		<add key="DownloadApplicationForCredentialByCoursePDFName" value="${DownloadApplicationForCredentialByCoursePDFName}" />
		<add key="DownloadApplicationForAssessmentPDFName" value="${DownloadApplicationForAssessmentPDFName}" />
		<add key="BypassExaminerAuthentication" value="${BypassExaminerAuthentication}" />
		<add key="ExcludedNamesList" value="${ExcludedNamesList}" />
		<add key="NcmsUrl" value="${NcmsUrl}" />
		<add key="tempFilePath" value="${tempFilePath}" />
		<add key="applicationData" value="${applicationData}" />
		<add key="IncludedFileExtensionsList" value="${IncludedFileExtensionsList}" />
		<add key="kosettings:allowEmailPaste" value="${kosettings_allowEmailPaste}" />
		<add key="kosettings:skipRecaptcha" value="${kosettings_skipRecaptcha}" />
		<add key="EmailChangeValidHours" value="${EmailChangeValidHours}" />
		<add key="logging:SeqUrl" value="${logging_SeqUrl}" />
		<add key="logging:SeqLogBufferFileBase" value="${logging_SeqLogBufferFileBase}" />
		<add key="logging:LogFile" value="${logging_LogFile}" />
		<add key="logging:DiagnosticsLogFile" value="${logging_DiagnosticsLogFile}" />
		<add key="EnvironmentType" value="${EnvironmentType}" />
		<add key="EnvironmentName" value="${EnvironmentName}" />
		<add key="GoogleApiKeyBackend" value="${GoogleApiKeyBackend}" />
		<add key="GoogleApiKeyFrontend" value="${GoogleApiKeyFrontend}" />
		<add key="NcmsDefaultIdentity" value="${NcmsDefaultIdentity}" />
		<add key="MyNaatiDefaultIdentity" value="${MyNaatiDefaultIdentity}" />
		<add key="NcmsAuthCookieName" value="${NcmsAuthCookieName}" />
		<add key="logging:MinimumLevel" value="${logging_MinimumLevel}" />
		<add key="CertificateStoreName" value="${CertificateStoreName}" />
		<add key="fileSystemFileStorageServiceBasePath" value="${fileSystemFileStorageServiceBasePath}" />
		<add key="GraphResourceId" value="${GraphResourceId}" />
		<add key="GraphApiBaseUrl" value="${GraphApiBaseUrl}" />
		<add key="GraphTokenUrl" value="${GraphTokenUrl}" />
		<add key="SearchResultLimit" value="${SearchResultLimit}" />
		<add key="Office365AppId" value="${Office365AppId}" />
		<add key="SecurePayMerchantId" value="${SecurePayMerchantId}" />
		<add key="SecurePayMerchantCode" value="${SecurePayMerchantCode}" />
		<add key="SecurePayMerchantPassword" value="${SecurePayMerchantPassword}" />
		<add key="SecurePay_PaymentUrl" value="${SecurePay_PaymentUrl}" />
		<add key="PDSearchResults_MinimumCacheRefreshInterval" value="${PDSearchResults_MinimumCacheRefreshInterval}" />
		<add key="SASAccountName" value="${SASAccountName}" />
		<add key="SASShareName" value="${SASShareName}" />
		<add key="SASAccountKey" value="${SASAccountKey}" />
		<add key="StorageUriTemplate" value="${StorageUriTemplate}" />
		<add key="StorageAccountTemplate" value="${StorageAccountTemplate}" />
		<add key="DesiredTimeZone" value="${DesiredTimeZone}" />
		<add key="HttpsConfigured" value="${HttpsConfigured}" />
		<add key="SASDemoFile" value="${SASDemoFile}" />
		<add key="SecretPrefix" value="${SecretPrefix}" />
		<add key="MaxUserRefreshDelaySeconds" value="${MaxUserRefreshDelaySeconds}" />
		<add key="DebugMode" value="${DebugMode}" />
		<add key="MaxPublicApiResults" value="${MaxPublicApiResults}" />
		<add key="PodIp" value="${PodIp}" />
		<add key="MyNaatiPodUrl" value="${MyNaatiPodUrl}" />
		<add key="DefaultAppLocalUrl" value="${DefaultAppLocalUrl}" />
		<add key="EnableSwagger" value="${EnableSwagger}" />
		<add key="WiiseAuthTenant" value="${WiiseAuthTenant}" />
		<add key="WiiseAuthClientId" value="${WiiseAuthClientId}" />
		<add key="WiiseAuthRedirectUri" value="${WiiseAuthRedirectUri}" />
		<add key="WiiseResponseRedirect" value="${WiiseResponseRedirect}" />
		<add key="WiiseResource" value="${WiiseResource}" />
		<add key="WiiseTokenUrl" value="${WiiseTokenUrl}" />
		<add key="WiiseBaseUrl" value="${WiiseBaseUrl}" />
		<add key="WiiseRandomErrorsEnabled" value="${WiiseRandomErrorsEnabled}" />
		<add key="AccountingOperationsReportEmailsTo" value="${AccountingOperationsReportEmailsTo}" />
		<add key="EmailBatchingReportEmailsTo" value="${EmailBatchingReportEmailsTo}" />
		<add key="AccountingOperationsLogEmailsTo" value="${AccountingOperationsLogEmailsTo}" />
		<add key="EmailBatchingLogEmailsTo" value="${EmailBatchingLogEmailsTo}" />
		<add key="AccountingOperationsReportEmailsFrom" value="${AccountingOperationsReportEmailsFrom}" />
		<add key="EncodeAttributeExpressions" value="${EncodeAttributeExpressions}" />
		<!--Valid values: AppConfig|AzureKeyVault-->
		<add key="secrets:Source" value="${secrets_Source}" />
		<add key="SecurePayClientId" value="${SecurePayClientId}" />
		<add key="SecurePayClientSecret" value="${SecurePayClientSecret}" />
		<add key="SecurePayResource" value="${SecurePayResource}" />
		<add key="SecurePayTokenUrl" value="${SecurePayTokenUrl}" />
		<add key="SecurePayRedirectUri" value="${SecurePayRedirectUri}" />
		<add key="SecurePayScope" value="${SecurePayScope}" />
		<add key="SecurePayJavascriptSDKUrl" value="${SecurePayJavascriptSDKUrl}" />
		<add key="OutboundIP" value="${OutboundIP}" />
		<add key="PayPalMode" value="${PayPalMode}" />
		<add key="PayPalConnectionTimeout" value="${PayPalConnectionTimeout}" />
		<add key="PayPalRequestRetries" value="${PayPalRequestRetries}" />
		<add key="PayPalClientId" value="${PayPalClientId}" />
		<add key="PayPalClientSecret" value="${PayPalClientSecret}" />
		<add key="QrCodeAccessUrl" value="${QrCodeAccessUrl}" />
	</appSettings>
	<system.net>
		<!--<defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy usesystemdefault="True" proxyaddress="http://10.0.0.1:8080" bypassonlocal="True" />
    </defaultProxy>-->
		<mailSettings>
			<smtp from="email@email.com" deliveryMethod="Network">
				<network host="localhost" port="25" defaultCredentials="true" />
			</smtp>
		</mailSettings>
	</system.net>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<globalization configBuilders="EnvironmentConfig" uiCulture="en-AU" culture="en-AU" />
		<machineKey validationKey="B607EDA1AF054507672258B3A6554895435024820CF064DBAA09A426E9AC4CD8FD64BB84DD0655C9C51AC8DCC2D5E1B5C84091FE60FB9805327DA4EDC9C3F235" decryptionKey="A5AA15B2234D789CB292C10133DA0A0CF8D258B6542B219A" validation="SHA1" decryption="AES" />
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime maxRequestLength="2097152" targetFramework="4.8" />
		<customErrors mode="Off" defaultRedirect="~/error.html" />
		<authentication mode="Forms" configBuilders="EnvironmentConfig">
			<forms name="MYNAATI" loginUrl="~/Account/LogOn" timeout="15" slidingExpiration="true" />
		</authentication>
		<sessionState mode="InProc" timeout="120" />
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="MyNaati.Bl.Portal.Security.CustomMembershipProvider, MyNaati.Bl, Culture=neutral" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/mynaati" />
			</providers>
		</membership>
		<roleManager enabled="true">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="MyNaati.Bl.Portal.Security.CustomRoleProvider, MyNaati.Bl, Culture=neutral" applicationName="/mynaati" />
			</providers>
		</roleManager>
		<!--<roleManager enabled="true" cacheRolesInCookie="false" defaultProvider="ePortalServiceRoleProvider">
      <providers>
        <clear />
        <add name="ePortalServiceRoleProvider" type="F1Solutions.NAATI.ePortal.Web.Models.ServiceRolesProvider, MyNaati.Ui" />
      </providers>
    </roleManager>-->
		<pages controlRenderingCompatibilityVersion="4.8">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
				<add namespace="Recaptcha" />
			</namespaces>
		</pages>
		<httpModules>
			<!--<add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />-->
		</httpModules>
		<identity impersonate="false" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Remotion.Linq.EagerFetching" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.1.3" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Azure.Services.AppAuthentication" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Http" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-106.11.7.0" newVersion="106.11.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
				<add name="Access-Control-Allow-Credentials" value="true" />
        <remove name="Cache-Control" />
				<add name="Cache-Control" value="no-cache,no-store, must-revalidate" />
        <remove name="Pragma" />
				<add name="Pragma" value="no-cache" />
        <remove name="X-Frame-Options" />
				<add name="X-Frame-Options" value="sameorigin" />
        <remove name="X-XSS-Protection" />
				<add name="X-XSS-Protection" value="1; mode=block" />
        <remove name="X-Content-Type-Options" />
				<add name="X-Content-Type-Options" value="nosniff" />
			</customHeaders>
		</httpProtocol>
		<modules runAllManagedModulesForAllRequests="true">
			<!--<add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />-->
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483647" />
			</requestFiltering>
			<authentication>
				<windowsAuthentication enabled="false" />
				<anonymousAuthentication enabled="true" />
			</authentication>
		</security>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<httpErrors errorMode="Detailed">
			<remove statusCode="403" />
			<remove statusCode="404" />
			<remove statusCode="500" />
			<error statusCode="403" responseMode="Redirect" path="/error.html" />
			<error statusCode="404" responseMode="Redirect" path="/error.html" />
			<error statusCode="500" responseMode="Redirect" path="/error.html" />
		</httpErrors>
		<asp scriptErrorSentToBrowser="true" />
		<!--<rewrite>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
      </outboundRules>
    </rewrite>-->
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>