apiVersion: v1
kind: Service
metadata:
  name: dev-ncms
  labels:
    helm.sh/chart: ncms-0.1.0
    app.kubernetes.io/name: ncms
    app.kubernetes.io/instance: dev
    app.kubernetes.io/managed-by: Helm
  annotations:
{{ toYaml .Values.service.annotations | indent 4 }}
spec:
  loadBalancerIP: {{ .Values.service.loadBalancerIP }}
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: ncms
    app.kubernetes.io/instance: dev
