@{
    ViewBag.Title = "Change Password";
    ViewBag.BreadCrumb = new List<Tuple<string, string>>
    {
        new Tuple<string, string>("Change Password", null)
    };
}
<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <h2>Change Password</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>Your password has been changed.</p>
            <p><a href="@ViewBag.RedirectUrl">CLICK HERE</a> to go to myNAATI Home</p>
        </div>
    </div>
</div>
