@{
    ViewBag.Title = "There is a problem with your details.";
}

<h2>@ViewBag.Title</h2>
<div class="text-center wrapper-xl">
    <span class="fa fa-warning text-warning fa-5x"></span>
    <div class="text-center wrapper">
        <h5>
            @ViewBag.ErrorMessage
        </h5>
        <br />
        <h4><a href="@ViewBag.RedirectUrl">CLICK HERE</a> TO @ViewBag.PageMessage or contact <a href="mailto://info@naati.com.au">info@naati.com.au</a></h4>
    </div>
</div>
