@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>
<p>Your password has been reset.</p>
<p>An email has been sent to @ViewBag.PasswordEmail with your new password.</p>
<p><a href="@Url.Action("LogOn", "Account")">Click here</a> to return to the sign-in screen</p>

