
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="Content/bootstrap-fileinput/css/fileinput.css" rel="stylesheet" />
    <link href="Content/DataTables/css/buttons.bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <script src="Scripts/bootstrap.js"></script>
    @Styles.Render("~/Bundles/Styles")
    <meta name="viewport" content="width=device-width" />
    <title>Invalid Practitioner Link</title>
</head>
<body>
    <div id="verify-practitioner" class="primary-overlay-container">
        <div class="header_container">
            <span class="verify-practitioner-header">Invalid Practitioner details</span>
        </div>
    </div>
</body>
</html>

