<div class="vbox">
    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">
                    <span class="no-padder" data-bind="reshtml: 'Naati.Resources.Test.resources.EditRubricResult'"></span>
                    <span class="no-padder">-</span>
                    <span class="no-padder" data-bind="text: result.ExaminerName"></span>
                </h1>
            </div>
        </div>
    </div>
    <div class="row-row">
        <div class="cell">
            <div class="cell-inner">
                <div class="wrapper examiner-marks">
                    <div class="panel wrapper form">
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label class="control-label" data-bind="reshtml: 'Naati.Resources.Test.resources.TestDate'"></label>
                                <p class="form-control-static" data-bind="textDate: result.TestDate"></p>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label" data-bind="reshtml: 'Naati.Resources.Test.resources.AttendanceId'"></label>
                                <p class="form-control-static" data-bind="text:  result.AttendanceId"></p>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label" data-bind="reshtml: 'Naati.Resources.Application.resources.CredentialType'"></label>
                                <p class="form-control-static" data-bind="text:  result.CredentialType"></p>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="control-label" data-bind="reshtml: 'Naati.Resources.Application.resources.Skill'"></label>
                                <p class="form-control-static" data-bind="text:  result.Skill"></p>
                            </div>
                            <div class="form-group col-sm-3">
                                <label class="control-label" data-bind="reshtml: 'Naati.Resources.Test.resources.ReceivedDate'"></label>
                                <!-- ko component: { name: 'date-input', params: receivedDateDateOptions } --><!-- /ko -->
                            </div>
                        </div>
                    </div>
                    <!-- ko component: { name: 'rubric-marks', params: rubricOptions } --><!-- /ko -->
                </div>
            </div>
        </div>
    </div>
    <div class="padder b-t b-gray bg-white wrapper-sm">
        <div class="pull-right">
            <button class="btn btn-success" data-bind="click: save, enable: canSave">
                <i class="fa fa-check"></i>
                <span data-bind="reshtml: 'Naati.Resources.Shared.resources.Save'"></span>
            </button>
            <a href="#" data-bind="attr: { href: closeLink }" class="btn btn-default"><i class="fa fa-times"></i> <span data-bind="reshtml: 'Naati.Resources.Shared.resources.Close'"></span></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>