<div id="updateDueDateModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" data-bind="reshtml: 'Naati.Resources.Test.resources.UpdateDueDateModalTitle'"></h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form>
                            <div class="form-group" data-bind="validationElement: dueDate">
                                <label data-bind="reshtml: 'Naati.Resources.Test.resources.DueDate'"></label>
                                <!-- ko component: { name: 'date-input', params: dueDateOptions } -->
                                <!-- /ko -->
                                <span class="help-block text-center" data-bind="reshtml: 'Naati.Resources.Test.resources.DueDateApplicability'"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-bind="click: save">
                    <i class="fa fa-check"></i>
                    <span data-bind="reshtml: 'Naati.Resources.Shared.resources.Save'"></span>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> <span data-bind="reshtml: 'Naati.Resources.Shared.resources.Close'"></span></button>
            </div>
        </div>
    </div>
</div>
