
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title@(ViewBag.Title != null ? " | " : String.Empty)NCMS</title>

    <!--bootstrap-->
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/clockpicker.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/Content/dashboard.css" />

    <!--cover-->
    <link rel="stylesheet" href="~/Content/cover.css" />

</head>

<body>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="inner cover">
                    @RenderBody()
                </div>

            </div>

        </div>

    </div>
</body>
</html>
